.infopage_text {
    padding-top: 16px;
    font-size: 14px;
    justify-content: flex-start !important;
    p {
        line-height: 1.6;
        text-align: justify;
    }
    .infopage__content {
        max-width: 940px;
    }
}

.infopage__list {
    max-width: 620px;
    padding-left: 24px;
    li {
        list-style: square;
        margin-bottom: 12px;
    }
}

.infopage__list_decimal {
    li {
        list-style: decimal;
    }
}

.infopage__content {
    width: 100%;
    padding-bottom: 100px;
    p {
        padding: 0px 0px 15px 0px;
    }
}

.infopage__content_cut {
    padding-bottom: 0px;
}

.infopage__content_upper {
    padding-top: 32px;
}

.infopage__map {
    height: 400px;
    width: 100%;
}

.infopage__block {
    width: 100%;
    padding-bottom: 24px;
}

.infopage__wide-block {
    width: 100%;
}

.infopage__metro-icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 8px;
    margin-bottom: -5px;
    background-size: 80%;
}

.infopage__table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    tr {
        &:nth-child(odd) {
            background-color: lighten($green, 63);
        }
    }
    td {
        padding: 10px 5px 10px 5px;
    }
}

.infopage__delivery-info {
    height: 480px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    font-size: 14px;
    @include mq($from: mobile) {
        height: auto;
        flex-direction: row;
        align-items: initial;
    }
}

.infopage__delivery-item {
    width: 230px;
}

.infopage__delivery-item-img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
}

.infopage__delivery-item-content {
    padding: 0px 12px;
    text-align: center;
}

.infopage__wrap_grey {
    width: 100%;
    background: $border;
}

.infopage__city-link {
    .icon {
        font-size: 14px;
    }
}




/// DELIVERY PAGE START
.delivery-page__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 0px;
    @include mq($from: tablet) {
        text-align: left;
    }
}
.delivery-page__info {
    padding: 32px 0px 24px 0px;
}
.delivery-page__info-column {
    margin-bottom: 16px;
    @include mq($from: tablet) {
        width: 23%;
        margin-bottom: 0px;
    }
}
.delivery-page__info-column-title {
    height: 30px;
    color: $text-grey;
    font-size: 14px;
    border-bottom: 3px solid $border;
}
.delivery-page__info-column-content {
    position: relative;
    padding: 16px 0px;
    font-size: 15px;
    color: $text-grey_dark;
}
.delivery-page__info-column-content_icon {
    padding-right: 28px;
}
.delivery-page__info-column-content_fixed {
    height: 72px;
}
.delivery-page__info-columns {
    width: 100%;
    @include mq($from: tablet) {
        display: flex;
        justify-content: space-between;
    }
}
.delivery-page__outlet {
    min-height: 134px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .2s;
    will-change: opacity;
    @include mq($from: tablet) {
        padding: 32px 0px 0px 0px;
    }
}
.deliveryPage__outlet_ready {
    opacity: 1;
}
.delivery-page__map {
    height: 400px;
    width: 100%;
}
.delivery-page__info-icon {
    position: absolute;
    top: 20px;
    right: 0px;
    display: block;
    height: 28px;
    width: 28px;
    background-size: 90%;
    float: right;
}
/// DELIVERT PAGE END


/// CITY-CHOICE START
.city-choice {
    padding: 16px 0px;
    background-color: $creme;
}
.city-choice__title {
    margin-bottom: 16px;
    @include mq($from: desktop) {
        margin-bottom: 0px;
        margin-right: 12px;
    }
}
.city-choice__top {
    @include mq($from: mobile) {
        min-width: 260px;
        padding-right: 16px;
    }
    @include mq($from: desktop) {
        display: flex;
        align-items: center;
    }
}
.city-choice__link-wrap {
    margin-bottom: 16px;
    @include mq($from: desktop) {
        margin-bottom: 0px;
    }
}
.city-choice__content {
    width: 100%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .2s;
    will-change: opacity;
    @include mq($from: mobile) {
        display: flex;
        align-items: center;
    }
}
.cityChoice__content_ready {
    opacity: 1;
}
.city-choice__button {
    float: left;
    min-width: 80px;
    margin-right: 8px;
}
/// CITY-CHOICE END


/// TABS START
.tabs {
    width: 100%;
    @include mq($from: tablet) {
        display: flex;
        justify-content: space-between;
    }
}
.tabs__item {
    display: flex;
    height: 50px;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    color: $text-grey_dark;
    border: 2px solid $border;
    transition-property: background-color, color, border-color;
    transition-duration: .2s;
    cursor: pointer;
    &:hover {
        background-color: $border;
    }
    @include mq($from: tablet) {
        width: 32%;
        margin-bottom: 0px;
    }
}
.tabs__item_active {
    color: $white;
    background-color: $green;
    border-color: $green;
    &:hover {
        background-color: $green;
    }
    .icon_delivery-courier-png {
        background-image: url('../img/icon/delivery-courier_white.png');
    }
    .icon_delivery-point {
        background-image: url('../img/icon/delivery-points_white.png');
    }
    .icon_delivery-mail {
        background-image: url('../img/icon/delivery-mail_white.png');
    }
}
.tabs__icon {
    height: 22px;
    width: 22px;
    margin-right: 8px;
    background-size: 100%;
}
/// TABS END


/// DELIVERY-ADVANTAGES START
.delivery-advantages {
    background-color: $creme;
    margin-bottom: 32px;
}
.delivery-advantages__content {
    padding: 16px 0px 32px 16px;
}
.delivery-advantages__title {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
    @include mq($from: tablet) {
        text-align: left;
        font-size: 24px;
    }
}
.delivery-advantages__columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include mq($from: tablet) {
        justify-content: space-between;
    }
}
.delivery-advantages__column {
    width: 50%;
    height: 176px;
    @include mq($from: mobile) {
        height: 164px;
        padding: 0px 12px;
    }
    @include mq($from: tablet) {
        height: auto;
        width: 25%;
    }
    @include mq($from: desktop) {
        width: 20%;
    }
}
.delivery-advantages__column-text {
    font-size: 13px;
    color: $text-grey_dark;
    text-align: center;
    @include mq($from: mobile) {
        font-size: 14px;
    }
}
.delivery-advantages__column-icon {
    height: 104px;
}
/// DELIVERY-ADVANTAGES END

/// DELIVERY-TERMS START
.delivery-terms {
    width: 100%;
    @include mq($from: tablet) {
        background: linear-gradient(to right, $blue 50%, $creme-blue 50%);
    }
}
.delivery-terms__title {
    height: 60px;
    font-size: 24px;
    line-height: 60px;
}
.delivery-terms__content {
    position: relative;
    @include mq($from: tablet) {
        height: 210px;
    }
}
.delivery-terms__wrap {
    width: 100%;
    @include mq($from: tablet) {
        padding: 0px 16px;
    }
    @include mq($from: desktop) {
        width: 970px;
        margin: 0 auto;
    }
    @include mq($from: wide) {
        width: 1170px;
    }
}
.delivery-terms__left {
    position: relative;
    padding: 16px 16px;
    font-size: 14px;
    text-align: center;
    color: $white;
    background-color: $blue;
    z-index: 1000;
    @include mq($from: tablet) {
        float: left;
        height: 100%;
        width: 324px;
        text-align: left;
    }
    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: -19px;
        border: 10px solid transparent;
        border-left-color: $blue;
        transform: rotate(90deg);
        @include mq($from: tablet) {
            right: -19px;
            top: 50%;
            margin-top: -10px;
            transform: none;
        }
    }
}
.delivery-terms__right {
    padding: 16px 16px;
    background: $creme-blue;
    @include mq($from: tablet) {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 16px 0px 16px 356px;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    @include mq($from: desktop) {
        padding: 16px 0px 16px 420px;
    }
    @include mq($from: wide) {
        padding: 16px 0px 16px 356px;
    }
}
.delivery-terms__list {
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    width: 100%;
    font-size: 14px;
    @include mq($from: tablet) {
        height: 100%;
        padding: 0px;
        flex-wrap: wrap;
        justify-content: center;
    }
    @include mq($from: wide) {
        flex-direction: row;
        align-items: center;
    }
}
.delivery-terms__list-item {
    margin-bottom: 16px;
    font-weight: 500;
    @include mq($from: tablet) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 89px;
        width: 50%;
        padding-right: 10px;
        margin-bottom: 0px;
    }
    @include mq($from: wide) {
        width: 25%;
    }
}
.delivery-terms__label {
    margin-bottom: 8px;
    @include mq($from: tablet) {
        max-width: 171px;
    }
}
/// DELIVERY-TERMS END