.infopage__content {
    width: 100%;
    padding-bottom: 100px;
    p {
        padding: 0px 0px 15px 0px;
    }
}

.infopage__content_cut {
    padding-bottom: 0px;
}

.infopage__map {
    height: 400px;
    width: 100%;
}

.infopage__block {
    padding-bottom: 24px;
}

.infopage__wide-block {
    width: 100%;
}

.infopage__metro-icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 8px;
    margin-bottom: -5px;
    background-size: 80%;
}

.infopage__table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    tr {
        &:nth-child(odd) {
            background-color: lighten($green, 63);
        }
    }
    td {
        padding: 10px 5px 10px 5px;
    }
}

.infopage__delivery-info {
    height: 480px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    font-size: 14px;
    @include mq($from: mobile) {
        height: auto;
        flex-direction: row;
        align-items: initial;
    }
}

.infopage__delivery-item {
    width: 230px;
}

.infopage__delivery-item-img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
}

.infopage__delivery-item-content {
    padding: 0px 12px;
    text-align: center;
}

.infopage__wrap_grey {
    width: 100%;
    background: $border;
}

.infopage__city-choice-wrap {
    padding: 20px 0px;
    margin: 24px 0px;
    p {
        width: 100%;
        padding-bottom: 15px;
    }
}

.infopage__city-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .2s;
}

.infopage__city-link {
    margin: 0px 8px 0px 10px;
    .icon {
        font-size: 14px;
    }
}

.infopage__city-button {
    width: 120px;
    margin-left: 15px;
}


.delivery-page__map {
    height: 300px;
    width: 100%;
}

.delivery-page-menu {
    font-size: 12px;
    padding: 0px;
    .icon {
        display: none;
    }
    @include mq($from: mobile) {
        .icon {
            display: block;
        }
    }
    @include mq($from: tablet) {
        font-size: 16px;
    }
}

.delivery-page-menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    flex-grow: 1;
    background-color: rgb(244, 244, 244);
    border-bottom: 5px solid rgb(244, 244, 244);
    user-select: none;
    cursor: pointer;
    transition-duration: .25s;
    transition-property: border-bottom, background;
    transition-timing-function: ease;
    box-shadow: 0 1px 4px 0 rgba(117,117,117,.5);
    &:hover {
        background-color: $white;
        border-bottom: 5px solid $white;
    }
}

.deliveryPageMenu__item_active {
    cursor: default;
    border-bottom: 5px solid $green !important;
    background-color: $white;
    z-index: 100;
}

.delivery-page-menu__map {
    height: 418px;
    width: 100%;
    overflow: hidden;
}

.delivery-page-menu__outlet {
    //min-height: 400px;
    padding: 15px 0px 15px 0px;
    overflow: hidden;
    opacity: 0;
    will-change: opacity;
    transition: 0.2s;
    p {
        margin-bottom: 16px;
    }
    .infopage__block {
        padding-top: 24px;
        line-height: 1.6;
    }
}

.deliveryPageMenu__outlet_ready {
    opacity: 1;
}

.infopage__placeholder-block {
    height: 600px;
    width: 1170px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/cubes/heroimage-placeholder.jpg');
}

.infopage__registration-success {
    text-align: center;
    padding: 40px 0px;
}

.delivery-courier-static-wrap {
    padding: 16px 0px;
    margin-top: 16px;
    background: #f9f8f8;
    .content-area_mb {
        height: 100%;
        position: relative;
    }
    @include mq($from: tablet) {
        height: 320px;
    }
}

.delivery-courier-static__img-wrap {
    width: 290px;
    text-align: center;
    margin: 32px 0px;
    @include mq($from: tablet) {
        height: 100%;
        width: 320px;
        position: absolute;
        top: 0px;
        right: 0px;
        margin: 0px;
    }
}

.delivery-courier-static__img {
    width: 100%;
    height: auto;
}

.delivery-courier-static__text {
    text-align: justify;
    line-height: 1.6;
    @include mq($from: tablet) {
        padding: 15px 320px 15px 15px;
    }
    @include mq($from: desktop) {
        padding: 50px 320px 50px 0px;
    }
}

.delivery-courier-static__title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    @include mq($from: tablet) {
        position: relative;
        text-align: left;
        width: auto;
        margin-bottom: 16px;
    }
}