*venv/
*node_modules/
*MEDIA_ROOT
*fonts_build/
*__pycache__
*.pyc
*.env
*.vscode
*.sqlite3
*.ipynb
*.xlsx
*.csv
*web/frontend/package-lock.json

*demo
*newdemo
*npm-debug.log
web/frontend/static/*
web/frontend/static_production/*
compose/nginx_cube/static_production/*
compose/nginx_cube/ssl/*
geo/backend/config/settings/local.py
web/backend/config/settings/local.py

.env_*
env/
*celerybeat-shedule
db_dumps/*

*dev.yml
geo/backend/celerybeat-schedule
