$header-top-height: 60px;
$header-middle-height: 100px;
$header-bottom-height: 60px;

.header__top {
    display: none;
    height: $header-top-height;
    background: #fcfcfb;
    font-size: 14px;
    .content-area {
        display: flex;
        justify-content: space-between;
    }
    @include mq($from: desktop) {
        display: block;
    }
}

.header__nav {
    height: 100%;
    padding: 0px 16px;
    line-height: $header-top-height;
}

.header__city-choice {
    height: 100%;
    width: 360px;
    padding: 0px 16px 0px 16px;
    line-height: $header-top-height;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header__middle {
    display: flex;
    justify-content: space-between;
    height: $header-middle-height;
    text-align: center;
    background: $white;
    .content-area {
        display: flex;
        justify-content: space-between;
    }
}

.header__bottom {
    position: relative;
    font-size: 13px;
    .content-area {
        display: flex;
    }
}

.header__nav-link {
    margin-left: 40px;
    color: $text-black;
    @include mq($from: wide) {
        margin-left: 70px;
    }
}


.header__profile {
    display: none;
    height: 100%;
    line-height: $header-middle-height;
    color: $text-grey;
    user-select: none;
    @include mq($from: desktop) {
        display: block;
    }
}

.header__bottom {
    height: 60px;
    background: $green;
    display: none;
    @include mq($from: desktop) {
        display: block;
    }
}


.header__mobile-controls {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $green;
    .icon {
        color: $green-deep;
    }
}


.header__logo {

}

.header__logo-wrap {
    padding: 20px 16px 16px 16px;
}

.header__catalog {
    height: 100%;
    width: 678px;
    justify-content: space-between;
    color: $white;
    line-height: $header-bottom-height;
    @include mq($from: wide) {
        width: 878px;
    }
}

.header__catalog {
    display: flex;
}

.header__search-box {
    position: relative;
    width: 292px;
    height: 100%;
    z-index: 1000;
}

.header__search-input {
    height: 100%;
    width: 100%;
    padding: 0px 16px 0px 16px;
    line-height: $header-bottom-height;
}

.header__catalog-submenu {
    flex-grow: 1;
    user-select: none;
    text-align: center;
    @include bold();
    &:hover {
        .dropdown {
            display: block;
        }
    }
}

.dropdown {
    display: none;
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    top: $header-bottom-height;
    background: white;
    z-index: 10000;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    .content-area {
        position: relative;
    }
}

input.header__search-input { 
    background: $green-deep;
    color: $white;
    transition-duration: .2s;
    transition-property: color, background;
    @include bold();
    &:hover {
        background: lighten($color: $green-deep, $amount: 5)
    }
    &:focus {
        color: $text-black;
        background: white;
        border-top: 4px solid $green;
        border-bottom: 4px solid $green;
    }
}

input.header__search-input::placeholder {
    color: $white;
    opacity: 1; /* Firefox */
}

.header__city-icon {
    font-size: 14px;
    color: $green;
}

.header__city-link {
    margin-left: 16px;
    color: $text-grey;
    border-bottom: 2px dotted $green;
    opacity: 0;
    will-change: opacity;
    transition: .2s;
    cursor: pointer;
    &:hover {
        color: $green;
        border-bottom: 2px solid $green;
    }
}

.header__cityLink_ready {
    opacity: 1;
}

.header__nav-link {
    transition: color, border .2s;
    &:hover {
        color: $text-grey;
        border-bottom: 2px solid $yellow;
    }
    &:focus {
        color: $text-grey;
        border-bottom: 2px solid $yellow;
    }
}

.header__phone-icon {
    display: block;
    height: 24px;
    width: 24px;
}

.header__phone-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__phones {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    @include bold();
    @include mq($from: tablet) {
        flex-direction: row;
    }
}

.header__phone {
    font-size: 12px;
    @include mq($from: mobile) {
        font-size: 16px;
    }
    @include mq($from: desktop) {
        font-size: 22px;
    }
}

.header__phones-delimeter {
    display: none;
    margin: 0px 8px 0px 8px;
    color: $green-light;
    @include mq($from: tablet) {
        display: block;
    }
    @include mq($from: desktop) {
        font-size: 24px;
    }
}

.header__profile-link {
    transition-duration: .2s;
    transition-property: color;
    color: $text-grey;
    &:hover {
        color: $green;
    }
}

.header__enter {
    &:before {
        content: "";
        margin-bottom: -4px;
        height: 20px;
        width: 20px;
        display: inline-block;
        @include icon();
        @include icon_login();
    }
}

.header__search-button {
    text-align: center;
    position: absolute;
    top: 19px;
    right: 16px;
    height: 26px;
    width: 26px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    z-index: 100;
}

.header__submenu-title-link {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: $white;
    transition-duration: .2s;
    transition-property: background;
    &:hover {
        background: $green-deep;
    }
    .icon {
        margin-left: 8px;
    }
}

.header__submenu-title-content {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    text-transform: uppercase;
    @include mq($from: desktop, $until: wide) {
        max-width: 120px;
    }
}

.header__submenu-item {
    height: 54px;
    width: 240px;
    line-height: 54px;
    text-align: left;
}

.dropdown_brands {
    .header__submenu-item {
        height: 40px;
        line-height: 40px;
        width: 210px;
    }
}

.header__submenu-link {
    font-size: 14px;
    color: $text-black;
    font-weight: 500;
    &:hover {
        text-decoration: underline;
    }
}

.header__submenu-list {
    display: flex;
	flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.logo_sm {
    display: block;
    @include mq($from: tablet) {
        display: none;
    }
}

.logo_bg {
    display: none;
    @include mq($from: tablet) {
        display: block;
    } 
}

.header__mobile-menu-button {
    @include mq($from: desktop) {
        display: none !important;
    }
}

.header__cart-button {
    position: relative;
    background: $border;
    overflow: visible !important;
    margin-right: 4px;
    @include mq($from: desktop) {
        margin-right: 0px;
    }
}

.header__cart-counter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
    top: 0px;
    right: 0px;
    color: $white;
    background: $red;
    border-radius: 8px;
    font-size: 10px;
    z-index: 1000;
    opacity: 0;
    transition: opacity .2s;
    will-change: opacity;
    @include mq($from: desktop) {
        right: 0px;
    }
}

.header__cartCounter_visible {
    opacity: 1;
}

.header__watch-all {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 300px;
    padding: 15px 0px;
    color: $text-black;
}


.header__eye-icon {
    display: inline-block;
    height: 26px;
    width: 26px;
    margin-bottom: -8px;
    margin-left: 4px;
}

.header__watch-all-img-wrap {
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
}

.header__watch-all-img {
    height: 100%;
    width: auto;
}

.header__watch-all-link {
    text-decoration: underline;
    color: $text-black;
    cursor: pointer;
    &:hover {
        color: $green;
    }
}