@import "./__variables";

.icon {
    font-style: normal !important;
    background-position: center;
    background-repeat: no-repeat;
    &:before {
        font-family: 'icons';
    }
}

@mixin icon {
    font-style: normal;
    background-position: center;
    background-repeat: no-repeat;
    &:before {
        font-family: 'icons';
    }
}

.icon_heart {
    &:before  {
        content: $icon-heart;
    }
}

.icon_heart-empty {
    &:before {
        content: $icon-heart-empty;
    }
}

.icon_menu {
    &:before  {
        content: $icon-menu;
    }
}

.icon_list {
    &:before {
        content: $icon-th-list;
    }
}

.icon_cart {
    &:before  {
        content: $icon-cart;
    }
}

.icon_close {
    &:before  {
        content: $icon-close;
    }
}

.icon_options {
    &:before {
        content: $icon-options;
    }
}

.icon_direction {
    &:before {
        content: $icon-direction;
    }
}

.icon_help-outline {
    &:before {
        content: $icon-help-outline;
    }
}

.icon_rouble {
    font-weight: 300;
    &:before {
        content: $icon-rouble;
    }
}

.icon_contact {
    &:before {
        content: $icon-contact;
    }
}

.icon_contact-outline {
    &:before {
        content: $icon-contact-outline;
    }
}

.icon_search {
    &:before {
        content: $icon-search;
    }
}

.icon_chevron-up {
    &:before {
        content: $icon-chevron-up;
    }
}

@mixin icon_chevron-up {
    &:before {
        content: $icon-chevron-up;
    }
}

.icon_chevron-down {
    &:before {
        content: $icon-chevron-down;
    }
}

@mixin icon_chevron-down {
    &:before {
        content: $icon-chevron-down;
    }
}

.icon_chevron-left {
    &:before {
        content: $icon-chevron-left;
    }
}

.icon_chevron-right {
    &:before {
        content: $icon-chevron-right;
    }
}

.icon_cart-plus {
    &:before {
        content: $icon-cart-plus;
    }
}

.icon_profile {
    &:before {
        content: $icon-contact;
    }
}

.icon_metro {
    background-image: url('../img/icon/mos-metro.svg');
}

.icon_phone-green {
    background-image: url('../img/icon/phone-green.png');
}

.icon_phone-yellow {
    background-image: url('../img/icon/phone-yellow.png');
}

.icon_login {
    background-image: url('../img/icon/login.png');
}

@mixin icon_login {
    background-image: url('../img/icon/login.png'); 
}

.icon_close-blue {
    background-image: url('../img/icon/close_blue.svg');
}

@mixin icon_close-blue {
    background-image: url('../img/icon/close_blue.svg');
}

.icon_delivery-courier-png {
    background-image: url('../img/icon/delivery-courier.png');
}

.icon_delivery-courier-png_disabled {
    background-image: url('../img/icon/delivery-courier_disabled.png');
}

.icon_delivery-point {
    background-image: url('../img/icon/delivery-points.png');
}

.icon_delivery-point_disabled {
    background-image: url('../img/icon/delivery-points.png');
}

.icon_delivery-mail {
    background-image: url('../img/icon/delivery-mail.png');
}

.icon_delivery-mail_disabled {
    background-image: url('../img/icon/delivery-mail_disabled.png');
}

.icon_delivery-availability  {
    background-image: url('../img/icon/delivery-availability.png');
}

.icon_location  {
    background-image: url('../img/icon/location.svg');
}

.icon_eye  {
    background-image: url('../img/icon/eye.svg');
}

.icon_edit {
    background-image: url('../img/icon/edit.svg');
}

.icon_packages {
    background-image: url('../img/icon/packages.png');
}

.icon_unpack {
    background-image: url('../img/icon/unpack.png');
}

.icon_ok {
    background-image: url('../img/icon/ok.png');
}

.icon_earth-location {
    background-image: url('../img/icon/earth-location.png');
}

.icon_pickpoint {
    background-image: url('../img/icon/pickpoint.png');
}

.icon_cdek {
    background-image: url('../img/icon/cdek.png');
}

/// SOCIAL MEDIA

// Вконтакте
.icon_sm-vk {
    background-image: url('../img/icon/sm-vk.svg');
}

.icon_sm-vk_green {
    background-image: url('../img/icon/sm-vk_green.svg');
}

@mixin icon_sm-vk {
    background-image: url('../img/icon/sm-vk.svg');
}

@mixin icon_sm-vk_green {
    background-image: url('../img/icon/sm-vk_green.svg');
}

// Одноклассники
.icon_sm-odn {
    background-image: url('../img/icon/sm-odn.svg');
}

.icon_sm-odn_green {
    background-image: url('../img/icon/sm-odn_green.svg');
}

@mixin icon_sm-odn {
    background-image: url('../img/icon/sm-odn.svg');
}

@mixin icon_sm-odn_green {
    background-image: url('../img/icon/sm-odn_green.svg');
}


// Goolge plus
.icon_sm-google {
    background-image: url('../img/icon/sm-google.svg');
}

.icon_sm-google_green {
    background-image: url('../img/icon/sm-google_green.svg');
}

@mixin icon_sm-google {
    background-image: url('../img/icon/sm-google.svg');
}

@mixin icon_sm-google_green {
    background-image: url('../img/icon/sm-google_green.svg');
}

// Twitter
.icon_sm-twitter {
    background-image: url('../img/icon/sm-twitter.svg');
}

.icon_sm-twitter_green {
    background-image: url('../img/icon/sm-twitter_green.svg');
}

@mixin icon_sm-twitter {
    background-image: url('../img/icon/sm-twitter.svg');
}

@mixin icon_sm-twitter_green {
    background-image: url('../img/icon/sm-twitter_green.svg');
}

// YouTube
.icon_sm-youtube {
    background-image: url('../img/icon/sm-youtube.svg');
}

.icon_sm-youtube_green {
    background-image: url('../img/icon/sm-youtube_green.svg');
}

@mixin icon_sm-youtube {
    background-image: url('../img/icon/sm-youtube.svg');
}

@mixin icon_sm-youtube_green {
    background-image: url('../img/icon/sm-youtube_green.svg');
}

// Facebook
.icon_sm-facebook {
    background-image: url('../img/icon/sm-facebook.svg');
}

.icon_sm-facebook_green {
    background-image: url('../img/icon/sm-facebook_green.svg');
}

@mixin icon_sm-facebook {
    background-image: url('../img/icon/sm-facebook.svg');
}

@mixin icon_sm-facebook_green {
    background-image: url('../img/icon/sm-facebook_green.svg');
}

// Instagram
.icon-sm-instagram {
    background-image: url('../img/icon/sm-instagram.svg');
}

.icon-sm-instagram_green {
    background-image: url('../img/icon/sm-instagram_green.svg');
}

@mixin icon-sm-instagram {
    background-image: url('../img/icon/sm-instagram.svg');
}

@mixin icon-sm-instagram_green {
    background-image: url('../img/icon/sm-instagram_green.svg');
}

// Mail.ru
.icon-sm-mailru {
    background-image: url('../img/icon/sm-mailru.svg');
}

.icon-sm-mailru_green {
    background-image: url('../img/icon/sm-mailru_green.svg');
}

@mixin icon-sm-mailru {
    background-image: url('../img/icon/sm-mailru.svg');
}

@mixin icon-sm-mailru_green {
    background-image: url('../img/icon/sm-mailru_green.svg');
}

// Yandex
.icon-sm-yandex {
    background-image: url('../img/icon/sm-yandex.svg');
}

.icon-sm-yandex_green {
    background-image: url('../img/icon/sm-yandex_green.svg');
}

@mixin icon-sm_yandex {
    background-image: url('../img/icon/sm-yandex.svg');
}

@mixin icon-sm-yandex_green {
    background-image: url('../img/icon/sm-yandex_green.svg');
}


// Metro Icons
.icon_metro-delivery {
    background-image: url('../img/icon/icon-delivery.png');
}

.icon_metro-money-back {
    background-image: url('../img/icon/icon-money-back.png');
}

.icon_metro-honest {
    background-image: url('../img/icon/icon-honest.png');
}

.icon_metro-credit {
    background-image: url('../img/icon/icon-credit.png');
}

.arrow-icon {
    background-position: center;
    background-repeat: no-repeat;
    font-style: normal !important;
    &:before {
        font-family: 'fontello' !important;
    }
}

.icon_arrow-down {
    &:before {
        content: $icon-arrow-down;
    }
}

.icon_arrow-up {
    &:before {
        content: $icon-arrow-up;
    }
}

.icon_arrow-left {
    &:before {
        content: $icon-arrow-left;
    }
}

.icon_arrow-right {
    &:before {
        content: $icon-arrow-right;
    }
}

.sortingIcon {
    background-image: url("../img/icon/arrows-sort_disabled.svg");
}

.sortingIconDown {
    background-image: url("../img/icon/arrows-sort_down.svg");
}

.sortingIconUp {
    background-image: url("../img/icon/arrows-sort_up.svg");
}