.login_div {
    padding: 30px 0px;
}

.login__social-media {
    display: flex;
}

.login__social-media-wrap {

}

.login__social-media-wrap {
    display: flex;
    justify-content: center;
    align-content: center;
}

.login__social-media {
    display: flex;
    width: 320px;
    padding: 22px 36px;
    justify-content: space-between;
    align-items: center;
}

.login__input-box {
    margin-bottom: 10px;
}

.login__submit {
    margin-top: 15px;
    width: 100%;
    font-size: 16px;
}

.login__error {
    padding: 16px;
    color: $red;
    font-size: 14px;
    opacity: 0.8;
}

.login__error-wrap {
    min-height: 54px;
    transition-property: height;
    transition-duration: .2s;
}