{% extends "base.html" %}

{% block meta_title %}{% if category._meta_title|length > 0 %}{{category._meta_title}}{% else %}{{ super() }}{% endif %}{% endblock %}
{% block meta_description %}{% if category._meta_description|length > 0 %}{{category._meta_description}}{% else %}{% endif %}{% endblock %}
{% block meta_keywords %}{{category._meta_keywords}}{% endblock %}

{% block content %}

{% with view='shop:category', breadcrumbs=category.truncated_breadcrumbs[:-1], last_crumb=category.truncated_breadcrumbs[-1].title %}
    {% include 'blocks/breadcrumbs.html' %}
{% endwith %}

<div class="content-area_mb">
    <h1 class="title title_catalog">{{category.title}}</h1>
</div>

<div class="content-area_mb">

    <div class="catalog" id="catalog">
        <div class="catalog__left">
            <div class="filters catalog__filters">
                <div class="filters__button bold"
                    :class="{ filters__button_active : showFilters }"
                    @click="toggleFilters"
                >
                    Фильтры
                    <i class="icon icon_chevron-down filters__icon"></i>
                </div>
                <div class="filters__list {% if not has_been_filtered %} filters__list_inactive {% endif %}"
                    :class="{ filters__list_active : showFilters, filters__list_inactive: !showFilters }"
                >
                    <div class="filter-item catalog__price-filter"
                        :class="{ catalog__priceFilter_active : pricesResponseRecieved,  }"
                    >
                        <div class="filter-item__title bold">
                            Цена
                        </div>
                        <div class="filter-item__slider">
                            <price-filter
                                ref="priceFilter"
                                :min="min_price"
                                :max="max_price"
                                :price_values="price_values"
                                v-on:price-request-triggered="priceFilterRedirect"
                                v-if="pricesResponseRecieved"
                                realTime="true"
                                >
                            </price-filter>
                        </div>
                    </div>

                    <div class="filters__facetes">
                        {% for item in filters %}
                            <div class="filter-item__wrap">
                                <filter-item
                                    title="{{item.name}}"
                                    pk="{{item.name}}"
                                    slug="{{item.key}}"
                                    values="{{item.values_json}}"
                                >
                                    <div class="filter-item__btn-content">
                                        {{item.name}}
                                    </div>
                                </filter-item>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <div class="catalog__nav">
                {% include "base/catalog-sidenav.html" %}
            </div>
        </div>
        <div class="catalog__right">
            <div class="sorting">
                <div class="sorting__title">
                    Сортировка:
                </div>
                <div class="sorting__options">
                    <div class="sorting__option"
                        :class="{ sorting__option_active: sortByScoring }" 
                        id="js-sort-by-scoring" 
                        @click="changeState(0)"
                    >
                        по популярности
                    </div>
                    <div class="sorting__option"
                        :class="{ sorting__option_active: sortByPrice }" 
                        id="js-sort-by-price" 
                        @click="changeState(1)"
                    >
                        по цене
                        <i class="icon sorting__icon sortingIcon"
                            v-bind:class="{ sortingIconDown: showArrowDown, sortingIconUp: showArrowUp }"
                        >
                        </i>
                    </div>
                </div>
            </div>

            {% if products|length > 0 %}
            <div class="gallery catalog__gallery">
                {% for product in products %}
                <div class="product-card catalog__item">
                    <div class="product-card__img-wrap">
                        <img class="product-card__img" src="{{ product.thumbnail.url }}" alt="{{ product.title }}">
                        <a class="product-card__link-overlay" href="/product/{{product.slug}}"></a>
                    </div>
                    <div class="product-card__content">
                        <div class="product-card__price">
                            {{product.price}} <i class="icon icon_rouble"></i>
                        </div>
                        <a class="product-card__name" href="/product/{{product.slug}}">
                            {{product.name}}
                        </a>
                        <div class="product-card__interaction-area">
                            <a class="button button_ghost product_card__details"
                                href="/product/{{product.slug}}"
                            >
                                подробнее
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="catalog__placeholder-wrap">
                <div class="catalog__placeholder">
                    <div class="catalog__placeholder-img">
                        <img src="/static/img/icon/monkey.svg">
                    </div>
                    <div class="catalog__placeholder-text">
                        <p>В данный момент товаров нет в наличии, приносим свои извинения.</p> 
                        <p>Мы регулярно обновляем наш склад продукции, проверьте страницу позже.</p>
                    </div>
                </div>
            </div>
            {% endif %}
            
            {% block pagination %}
            {% if is_paginated %}
            <div class="pagination">
                <div class="pagination__pages">
                    {% if page_obj.has_previous()  %}
                        <div class="pagination__item pagination__arrow pagination__arrow_left">
                            <a href="./?{{ url_replace(querystring=request.GET, kwargs={'page':page_obj.previous_page_number()}) }}">
                                <i class="icon icon_chevron-left"></i>
                            </a>
                        </div>
                    {% else %}
                        <div class="pagination__item pagination__item_disabled pagination__arrow pagination__arrow_left-disable">
                            <i class="icon icon_chevron-left"></i>
                        </div>
                    {% endif %}
                    {% for num in page_obj.page_range %}
                        {% if not num %}
                        <div class="pagination__item pagination__page pagination__item_disabled">
                        ...
                        </div>
                        {% else %}
                            {% if num == page_obj.number %}
                            <div class="pagination__item pagination__page pagination__item_active">
                                {{ num }}
                            </div>
                            {% else %}
                            <div class="pagination__item pagination__page">
                                <a href="./?{{ url_replace(querystring=request.GET, kwargs={'page':num}) }}">{{ num }}</a>
                            </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next() %}
                        <div class="pagination__item pagination__arrow pagination__arrow_right">
                            <a href="./?{{ url_replace(querystring=request.GET, kwargs={'page':page_obj.next_page_number()}) }}">
                                <i class="icon icon_chevron-right"></i>
                            </a>
                        </div>
                    {% else %}
                        <div class="pagination__item pagination__item_disabled pagination__arrow pagination__arrow_right-disable">
                            <i class="icon icon_chevron-right"></i>
                        </div>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            {% endif %}
            {% endblock pagination %}

            {% if not is_paginated %}
            <div class="catalog__description text">
                    {{category.description|safe}}
                </div>
            {% endif %}

            {% if is_paginated and not page_obj.has_previous() %}
                {% if category.description|length > 0 %}
                <div class="catalog__description text">
                    {{category.description|safe}}
                </div>
                {% endif %}
            {% endif %}

        </div>
    </div>
</div>
{% endblock content %}

{% block modal %}
    {{ super() }}
    <page-controls
        v-if="pageControlsIsActive"
    >
    </page-controls>
    <transition name="fade-fast">
        <category-node-edit-form
            v-if="productPageEditFormIsActive"
            :id={{category.id}}
        >
        </category-node-edit-form>
    </transition>
{% endblock modal %}

{% block script %}
    {{ super() }}
    <script type="text/javascript">
        var categoryId = {{category.id}};
        var hasBeenFiltered = {{has_been_filtered|lower}};
        var userAdminStatus = {{user_status | lower}};
        var NODE_VALUES = '{{node_values}}'
    </script>
    <script src="{{ static('js/categoryPage.js') }}"></script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {% for link in category.truncated_breadcrumbs  %}
                    {
                        "@type": "ListItem",
                        "position": {{ loop.index }},
                        "item": {
                            "@id": "{{ url('shop:category', args=[link.url]) }}",
                            "name": "{{ link.title }}",
                            "url": "{{ url('shop:category', args=[link.url]) }}"
                        }
                    }{% if not loop.last %},{% endif %}
                {% endfor %}
            ]
        }
        </script>
{% endblock script %}

{% block meta_aditional_data %}
    <!-- canonical -->
    {{ super() }}
    <link rel="canonical" href="{{ category.absolute_url }}">
    {% if is_paginated and page_obj.has_next() %}
        <link rel="next" href="{{ category.absolute_url }}?page={{page_obj.next_page_number()}}">
    {% endif %}
    {% if is_paginated and page_obj.has_previous() %}
        <link rel="prev" href="{{ category.absolute_url }}?page={{page_obj.previous_page_number()}}">
    {% endif %}
{% endblock meta_aditional_data %}

{% block open_graph %}
<meta property="og:site_name"        content="Интернет-магазин головоломок Kubomarket.Ru"/>

{% if category._meta_title|length > 0 %}
<meta property="vk:title"            content="{{category._meta_title}}"/>
<meta property="og:title"            content="{{category._meta_title}}"/>
{% endif %}

{% if category._meta_description|length > 0 %}
<meta property="og:description"      content="{{category._meta_description}}"/>
{% endif %}

<meta property="og:locale "          content="ru_RU"/>
<meta property="og:url" content="https://www.kubomarket.ru{{category.absolute_url}}"/>
{% endblock open_graph %}

{% block open_graph_image %}
<meta property="og:image"            content="https://www.kubomarket.ru/static/img/og-image.png"/>
<meta property="og:image:secure_url" content="https://www.kubomarket.ru/static/img/og-image.png"/>
<meta property="og:image:type"       content="image/png"/>
<meta property="og:image:width"      content="200"/>
<meta property="og:image:height"     content="200"/>
{% endblock open_graph_image %}
