{% extends 'base.html' %}

{% block content %}
    {% with last_crumb='Регистрация' %}
        {% include 'blocks/breadcrumbs.html' %}
    {% endwith %}
    <div class="content-area">
        <div class="login">
            <h1 class="login__title">Вход на сайт</h1>
            <div class="login__buttons">
                <button class="button button_green float-item login__mail">
                    E-mail или логин
                </button>
                <button class="button button_grey float-item-right login__phone">
                    Телефон
                </button>
                <div class="clearfix"></div>
            </div>
            <div class="login__inputs">
                <div class="login__mail-box">
                    <input class="input" placeholder="Введите почту или логин">
                </div>
                <div class="login__pass-box">
                    <input class="input" placeholder="Введите пароль">
                </div>
            </div>
            <div class="login__action-buttons">
                <button class="button button_blue float-item login__enter">
                    Войти
                </button>
                <div class="login__forget-link-box float-item">
                    <a class="link link_marked link_green_accent" href="#">Забыли пароль?</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="login__remember-me">
                <label class="filter-item__link">
                    <input class="checkbox" type="checkbox">
                    <span class="checkbox-custom"></span>
                    <span class="checkbox__label">Запомнить меня на этом компьютере</span>
                </label>
            </div>
            <div class="login__social">
                <div class="login__social-title">
                    Вход через социальную сеть
                </div>
                <div class="social-media">
                    <i class="icon icon_social-media icon_social-media-google login__social-media-icon"></i>
                    <i class="icon icon_social-media icon_social-media-twitter login__social-media-icon"></i>
                    <i class="icon icon_social-media icon_social-media-odn login__social-media-icon"></i>
                    <i class="icon icon_social-media icon_social-media-facebook login__social-media-icon"></i>
                    <i class="icon icon_social-media icon_social-media-vk login__social-media-icon"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block modal %}
    {{ super() }}
    <div class="overlay-disabled">
        <div class="overlay-disabled__message">
            <div class="overlay-disabled__message-title">
            Личный кабинет в данный момент недоступен
            </div>
            <div class="overlay-disabled__message-content">
            Вы можете совершить покупку без регистрации, просто выбрав нужный товар из <a class="link link_blue" href="{{ url('cubes:category', args=['']) }}">каталога</a>
            </div>
        </div>
    </div>
{% endblock modal %}

{% block script %}
    {{ super() }}
    <script src="{{ static('js/index_7ad8135.js') }}"></script>
{% endblock script%}