{% extends 'base.html' %}


{% block content %}

{% with last_crumb='Избранное' %}
    {% include 'blocks/breadcrumbs.html' %}
{% endwith %}

<div class="content-area">
    <div id="js-favorites-gallery">
    </div>
</div>

{% endblock content %}

{% block modal %}
    {{ super() }}
    <div class="overlay-disabled">
        <div class="overlay-disabled__message">
            <div class="overlay-disabled__message-title">
            Сервис в данное время недоступен
            </div>
            <div class="overlay-disabled__message-content">
            Вы можете совершить покупку без регистрации, просто выбрав нужный товар из <a class="link link_blue" href="{{ url('cubes:category', args=['']) }}">каталога</a>
            </div>
        </div>
    </div>
{% endblock modal %}

{% block script %}
    {{ super() }}
{% endblock script%}
