{% extends "base.html" %}

{% block css %} 
    {{ super() }}
    <link rel="stylesheet" href="{{ static('css/jquery.fancybox.min.css') }}" type="text/css" media="screen" /> 
{% endblock css %} 

{% block content %}

{% with view='shop:category', breadcrumbs=category.truncated_breadcrumbs %}
    {% include 'blocks/breadcrumbs.html' %}
{% endwith %}

<div class="product-page" id="product-page"
    offer_identifier="{{product.offer_identifier}}" 
    is_in_stock="{{product.is_in_stock}}"

    delivery_data="{{to_json(product.data_for_delivery)}}" 
>

    <div class="content-area_mb product-page__title-area">
        <h1 class="product-page__title">{{product.name}}</h1>
        <div class="product-page__code">Код товара: {{product.public_id}}</div>
        
        {% if product.has_approved_reviews %}
        <div class="product-card__rating-area">
            <div class="product-card__rating">
                {{rating_stars(product.rating)|safe}}
            </div>
            <div class="product-card__rating-count">
                <div class="product-card__rating-count-caption">
                    Отзывы:
                </div>
                <div class="product-card__rating-count-value blue">
                    {{product.approved_reviews_count}}
                </div>
            </div>
        </div>
        {% else %}
        <div class="product-card__rating-area product-card__rating-area_placeholder">
            <div class="product-card__rating-placeholder">
                Нет отзывов
            </div>
        </div>
        {% endif %}
    </div>

    <div class="product-page__content">
        <div class="product-page__gallery-wrap">
            <div class="photo-gallery product-page__gallery">
                <div class="photo-gallery__main-img-wrap">
                    <transition name="fade-fast">
                        <a class="photo-gallery__main-img-item photo-gallery__main-img-item_first"
                            data-fancybox="gallery"
                            href="{{ product.image.url }}"
                            :class="{ photoGallery_mainImgItem_active : currentImageKey == 0 }"
                        >
                            <img class="photo-gallery__main-img" src="{{ product.image.url }}">
                        </a>
                    </transition>
                    {% for photo in product.additional_images %}
                    <transition name="fade-fast">
                        <a class="photo-gallery__main-img-item"
                            data-fancybox="gallery"
                            href="{{ photo.image.url }}"
                            :class="{ photoGallery_mainImgItem_active : currentImageKey == {{ loop.index }} }"
                        >
                            <img class="photo-gallery__main-img" src="{{ photo.thumbnail.url }}">
                        </a>
                    </transition>
                    {% endfor %}
                </div>
                <div class="photo-gallery__modifications">
                    <div class="photo-gallery__modifications-title">
                        Выберите цвет:
                    </div>
                    <div class="photo-gallery__modifications-list-wrap">
                        <ul class="photo-gallery__modifications-track">
                            <vue-scroll :ops="scrollOptions">
                                <a class="photo-gallery__modification photo-gallery__modification_active">
                                    <img class="photo-gallery__modification-img" src="{{ product.thumbnail.url }}">
                                </a>
                                {% for modification in product.modifications %}
                                <a class="photo-gallery__modification" href="/product/{{modification.slug}}">
                                    <img class="photo-gallery__modification-img" src="{{ modification.thumbnail.url }}">
                                </a>
                                {% endfor %}
                                <div class="clearfix"></div>
                            </vue-scroll>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="photo-gallery__nav">
                <div class="photo-gallery__nav-list">
                    <div class="photo-gallery__control photo-gallery__control_left"
                        @click="prevSlide"
                        :class="{ photoGallery_control_active : navPrevIsActive }"
                    >
                        <i class="icon icon_chevron-left"></i>
                    </div>
                    <div class="photo-gallery__control photo-gallery__control_right"
                        @click="nextSlide"
                        :class="{ photoGallery_control_active : navNextIsActive }"
                    >
                        <i class="icon icon_chevron-right"></i>
                    </div>
                    <div class="photo-gallery__nav-track" id="photo-gallery__nav-track">
                        <nav-item
                            :image_key=0
                            :active_key='currentImageKey'
                            v-on:selected='changeImage'
                        >
                            <div class="photo-gallery__nav-item"
                                :class="{ photoGallery__navItem_active : currentImageKey == 0 }"
                            >
                                <img src="{{ product.thumbnail.url }}">
                            </div>
                        </nav-item>
                        {% for photo in product.additional_images %}
                        <nav-item
                            :image_key={{ loop.index }}
                            :active_key='currentImageKey'
                            v-on:selected='changeImage'
                        >
                            <div class="photo-gallery__nav-item"
                                :class="{ photoGallery__navItem_active : currentImageKey == {{ loop.index }} }"
                            >
                                <img src="{{ photo.thumbnail.url }}">
                            </div>
                        </nav-item>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="product-page__purchase-info-area">
            <div class="product-page__delivery">
                {% raw %}
                <div class="product-page__city-choice-wrap">
                    <div class="product-page__city-choice">
                        <div class="product-page__city-choice-content">
                            <div class="product-page__city-choice-caption">
                                Доставка в городе:
                            </div>
                            <a class="product-page__city-link link_city"
                                :class="{ productPage__cityLink_visible : isDeliveryDataInited }"
                                @click="showCityChoiceModal"
                            >
                                {{cityName}}
                                <i class="icon icon_chevron-down product-page__city-choice-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endraw %}
                <transition name="fade-fast">
                    <delivery v-if="isDeliveryDataInited"></delivery>
                </transition>
            </div>
            <div class="product-page__interaction-area">
                {% if product.is_in_stock %}
                <div class="product-page__availability">
                    <i class="icon icon_delivery-availability product-page__delivery-icon"></i>
                    Есть в наличии
                </div>
                {% else %}
                <div class="product-page__availability">
                Нет в наличии
                </div>
                {% endif %}
                <div class="product-page__price">
                    {{product.price}} <i class="icon icon_rouble"></i>
                </div>
                {% if product.is_in_stock %}
                <div class="product-page__add-to-cart"
                    @click="addOfferToCart"
                >
                    <i class="icon icon_cart"></i>
                    В КОРЗИНУ
                </div>
                <div class="product-page__purchase-wrap"
                    @click="isShowModalCallback=true"
                >
                    <a class="product-page__purchase"
                        @click="showCallbackModal"
                    >
                        КУПИТЬ В ОДИН КЛИК
                    </a>
                </div>
                {% else %}
                <div class="product-page__add-to-cart product-page__add-to-cart_disabled">
                    В КОРЗИНУ
                </div>
                <div class="product-page__purchase-wrap product-page__purchase-wrap_disabled">
                    <a class="product-page__purchase">
                        КУПИТЬ В ОДИН КЛИК
                    </a>
                </div>
                {% endif %}
                <div class="clearfix"></div>
            </div>
        </div>

    </div>

    <div class="product-page__description-area">
        <div class="product-page__attributes">
            <div class="product-page__description-title">
                Характеристики
            </div>
            <ul class="product-page__attributes-list">
                {% for key, values in product.attributes.items() %}
                <li class="list-item">
                    <div class="list-item__key">
                        {{key}}
                    </div>
                    <div class="list-item__delimeter">
                    </div>
                    <div class="list-item__value">
                        {{ values|map(attribute='name')|join(', ') }}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        {% if videos|length > 0 %}
        <div class="product-page__videos videos">
            <div class="product-page__description-title">
                Видеобзоры
            </div>
            <div class="videos__list">
                {% for video in videos %}
                <div class="videos__item">
                    <iframe
                        width="100%"
                        height="100%"
                        src="https://www.youtube.com/embed/{{video.youtube_code}}"
                        frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen
                    >
                    </iframe>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="product-page__description">
            {% if product.description|length > 0 %}
            <div class="product-page__description-title">
                Описание
            </div>
            <div class="product-page__description-content">
                {{product.description|safe}}
            </div>
            {% else %}
            {% endif %}
        </div>

        <div class="reviews product-page__reviews">
            <div class="reviews__top">
                <h3 class="reviews__title product-page__description-title">
                    Отзывы покупателей
                </h3>
                {% if request.user.is_authenticated %}
                <button class="button button_ghost"
                    @click="showReviewForm"
                >
                    + Добавить отзыв
                </button>
                {% else %}
                <div class="reviews__buttons-area">
                    <i class="reviews__button-caption">
                        Оставлять отзывы могут только зарегестрированные пользователи
                    </i>
                    <button class="button reviews__button" disabled>
                        + Добавить отзыв
                    </button>
                </div>
                {% endif %}
            </div>
            <div class="reviews__content">
                {% if product.has_approved_reviews %}
                    {% for review in product.approved_reviews %}
                        <div class="review">
                            <div class="review__title">
                                {% if review.author_unknown %}
                                <div class="review__author review__author_unknown">
                                    {{review.author}}
                                </div>
                                {% else %}
                                <div class="review__author">
                                    {{review.author}}
                                </div>     
                                {% endif %}
                                <div class="review__rating">
                                    {{rating_stars(review.rating)|safe}}
                                </div>
                            </div>
                            <div class="review__content">
                                {{review.content}}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                <div class="reviews__placeholder">
                    <p>
                    Для данного товара пока нет отзывов, но вы можете оставить свой отзыв,
                    предварительно <a class="reviews__link link link_blue" href="/u/registration/">зарегистрировавшись</a> на сайте
                    </p>
                </div>
                {% endif %}
            </div>
        </div>

    </div>

</div>


{% endblock content %}

{% block modal %}
    {{ super() }}
    <transition name="fade-fast">
        <purchase-modal
            name="{{escape_quotes(product.name)}}"
            price="{{product.price}}"
            img="{{product.thumbnail.url}}"
            v-if="purchaseModalIsActive"
            v-on:close="closePurchaseModal"
        >
        </purchase-modal>
    </transition>
    <page-controls
        v-if="pageControlsIsActive"
    >
    </page-controls>
    <transition name="fade-fast">
        <product-page-edit-form
            uuid="{{product.vendor_code}}"
            name="{{escape_quotes(product.name)}}"
            price={{product.price}}
            slug="{{product.slug}}"
            id="{{product.id}}"
            url="{{ url('shop:product', kwargs={'slug':product.slug}) }}"
            :height="{{product.height}}"
            :width="{{product.width}}"
            :depth="{{product.length}}"
            is_in_stock="{{product.is_in_stock}}"
            is_bestseller="{{product.is_bestseller}}"
            is_recomended="{{product.is_recomended}}"
            is_displayed_in_selections="{{product.is_displayed_in_selections}}"
            description="{{product.description}}"
            _meta_title="{{product._meta_title}}"
            _meta_description="{{product._meta_description}}"
            _meta_keywords="{{product._meta_keywords}}"

            v-if="productPageEditFormIsActive"
        >
        </product-page-edit-form>
    </transition>
    <transition name="fade-fast">
        <callback-modal
            name="{{escape_quotes(product.name)}}"
            price="{{product.price}}"
            img="{{product.thumbnail.url}}"
            :product-data="{id:'{{product.offer_identifier}}', price:'{{product.price}}', name:'{{escape_quotes(product.name)}}', quantity:1 }"
            v-if="callbackModalIsActive"
        >
        </callback-modal>
    </transition>
    <transition name="fade-fast">
        <review-form
            :pk="{{product.pk}}"
            {% if request.user.is_authenticated %}
            :user="{{request.user.id}}"
            {% else %}
            {% endif %}
            v-if="reviewFormIsActive"
        >
        </review-form>
    </transition>
{% endblock modal %}


{% block script %}
    {{ super() }}
    <script type="text/javascript">
        var userAdminStatus = {{user_status | lower}};
    </script>
    <script src="{{ static('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ static('js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ static('js/productPage.js') }}"></script>
    <script type="text/javascript">
        $("[data-fancybox]").fancybox({
        });
    </script>
    <script type="application/ld+json">
        {
          "@context": "http://schema.org/",
          "@type": "Product",
          "name": "{{product.name}}",
          "image": "https://www.kubomarket.ru{{product.image.url}}",
          "description": "{{product.html_free_description}}",
          {% if product.vendor|length > 0 %}
          "brand": "{{product.vendor}}",
          {% endif %}
          "offers": {
            "@type": "Offer",
            "priceCurrency": "RUB",
            "price": "{{product.price}}",
            "itemCondition": "http://schema.org/NewCondition",
            {% if product.is_in_stock %}
            "availability": "http://schema.org/InStock",
            {% else %}
            "availability": "http://schema.org/OutOfStock",
            {% endif %}
            "url": "https://www.kubomarket.ru/product/{{product.url}}/"
          }
        }
    </script>
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {% for link in category.truncated_breadcrumbs  %}
                {
                    "@type": "ListItem",
                    "position": {{ loop.index }},
                    "item": {
                        "@id": "{{ url('shop:category', args=[link.url]) }}",
                        "name": "{{ link.title }}",
                        "url": "{{ url('shop:category', args=[link.url]) }}"
                    }
                }{% if not loop.last %},{% endif %}
            {% endfor %}
        ]
    }
    </script>
{% endblock script %}

{% block meta_title %} 
{{ product.meta_title }} 
{% endblock meta_title %}

{% block meta_description %} 
{{ product.meta_description }} 
{% endblock meta_description %}

{% block meta_keywords %} 
{{ product.meta_keywords }} 
{% endblock meta_keywords %}

{% block open_graph %}
<meta property="vk:title"            content="{{product.meta_title}}"/>
<meta property="og:site_name"        content="Интернет-магазин головоломок Kubomarket.Ru"/>
<meta property="og:title"            content="{{product.meta_title}}"/>
<meta property="og:description"      content="{{product.meta_description}}"/>
<meta property="og:locale "          content="ru_RU"/>
<meta property="og:url" content="https://www.kubomarket.ru{{product.absolute_url}}"/>
{% endblock open_graph %}

{% block open_graph_image %}
<meta property="og:image"            content="https://www.kubomarket.ru{{product.thumbnail.url}}"/>
<meta property="og:image:secure_url" content="https://www.kubomarket.ru{{product.thumbnail.url}}"/>
<meta property="og:image:type"       content="image/jpeg"/>
<meta property="og:image:width"      content="{{product.thumbnail.width}}"/>
<meta property="og:image:height"     content="{{product.thumbnail.height}}"/>
{% endblock open_graph_image %}
