{% extends "base.html" %}

{% block css %} 
    {{ super() }}
    <link rel="stylesheet" href="{{ static('css/jquery.fancybox.min.css') }}" type="text/css" media="screen" /> 
{% endblock css %} 

{% block content %}

{% with view='shop:category', breadcrumbs=category.truncated_breadcrumbs[:-1], last_crumb=category.truncated_breadcrumbs[-1].title %}
    {% include 'blocks/breadcrumbs.html' %}
{% endwith %}

<div class="product-page">

    <div class="content-area_mb product-page__title-area">
        <h1 class="title product-page__title">{{product.name}}</h1>
        <div class="product-page__code">Код товара: {{product.public_id}}</div>
    </div>

    <div class="product-page__content">
        <div class="product-page__gallery-wrap">
            <div class="photo-gallery product-page__gallery">
                <div class="photo-gallery__main-img-wrap">
                    <img class="photo-gallery__main-img" src="{{ product.image.url }}">
                </div>
                {% if product.modifications|length > 0 %}
                <div class="photo-gallery__modifications">
                    <div class="photo-gallery__modifications-title">
                        Выберите цвет:
                    </div>
                    <div class="photo-gallery__modifications-list">
                        <div class="photo-gallery__modifications-track">
                            {% for modification in product.modifications %}
                            <a class="photo-gallery__modification" href="/product/{{modification.slug}}">
                                <img class="photo-gallery__modification-img" src="{{ modification.thumbnail.url }}">
                            </a>
                            {% endfor %}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="photo-gallery__nav">
                <div class="photo-gallery__nav-list">
                    <div class="photo-gallery__nav-track">
                    </div>
                </div>
            </div>
        </div>

        <div class="product-page__purchase-info-area">
            <div class="product-page__delivery">
            </div>
            <div class="product-page__interaction-area">
                {% if product.is_in_stock %}
                <div class="product-page__availability">
                Есть в наличии
                </div>
                {% else %}
                <div class="product-page__availability">
                Нет в наличии
                </div>
                {% endif %}
                <div class="product-page__price">
                    {{product.price}} ₽
                </div>
                <div class="product-page__add-to-cart">
                    В КОРЗИНУ
                </div>
                <div class="product-page__purchase-wrap">
                    <a class="product-page__purchase">
                        КУПИТЬ В ОДИН КЛИК
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>

    <div class="product-page__description-area">
        <div class="product-page__attributes">
            <div class="product-page__description-title">
                Характеристики
            </div>
            <div class="product-page__attributes-list">
            </div>
        </div>
        <div class="product-page__description">
            <div class="product-page__description-title">
                Описание
            </div>
            <div class="product-page__description-content">
            </div>
        </div>
    </div>

</div>


{% endblock content %}


{% block script %}
    {{ super() }}
{% endblock script %}

{% block meta_title %} 
{{ product.meta_title }} 
{% endblock meta_title %} 

{% block meta_description %} 
{{ product.meta_description }} 
{% endblock meta_description %} 

{% block meta_keywords %} 
{{ product.meta_keywords }} 
{% endblock meta_keywords %}