{% extends "base.html" %}

{% block content %}
    {% with last_crumb="Профиль" %}
        {% include 'blocks/breadcrumbs.html' %}
    {% endwith %}

    <div class="content-area_mb">
        <div id="profile">
            <profile
                user_id={{user.id}}
            >
            </profile>
        </div>
    </div>

{% endblock content %}


{% block actions %}
{% endblock actions %}

{% block script %}
    {{ super() }}
    <!--script src="{{ static('js/jquery-3.2.1.min.js') }}" type="text/javascript"></script-->    
    <script src="{{ static('js/profilePage.js') }}" type="text/javascript"></script>
{% endblock script %}
