{% extends "base.html" %}

{% block content %}
    {% with last_crumb="Вход" %}
        {% include 'blocks/breadcrumbs.html' %}
    {% endwith %}
    <div class="content-area" style="text-align: center;">
        <div class="login_div">
            <div class="login_div_block">
                <h3>
                    Регистрация через соцсети
                </h3>
                <div class="login__social-media-wrap">
                    <div class="login__social-media">
                        <a class="icon icon_social-media icon_social-media_green social-gp_inv" 
                            href="{{ url('social:begin', args=['google-oauth2']) }}">
                        </a>
                        <a class="icon icon_social-media icon_social-media_green social-vk_inv"
                            href="{{ url('social:begin', args=['vk-oauth2']) }}">
                        </a>
                        <a class="icon icon_social-media icon_social-media_green social-odn_inv"
                            href="{{ url('social:begin', args=['odnoklassniki-oauth2']) }}">
                        </a>      
                        <a class="icon icon_social-media icon_social-media_green social-ya_inv"
                            href="{{ url('social:begin', args=['yandex-oauth2']) }}">
                        </a>
                        <a class="icon icon_social-media icon_social-media_green social-mail_inv"
                            href="{{ url('social:begin', args=['mailru-oauth2']) }}">
                        </a>
                    </div>
                </div>  
            </div>
            <div class="login_div_block">
                <h3>
                    Или 
                </h3>
                <div class="form__wrap">
                    <form method="POST" action="" class="form">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <div class="input-box login__input-box">
                            <input class="input login__input" type="text" name="email" placeholder="Email">
                        </div>
                        <div class="input-box login__input-box">
                            <input class="input login__input" type="text" name="password" placeholder="Пароль">
                        </div>
                        <div class="input-box login__input-box">
                            <input class="input login__input" type="text" name="password2" placeholder="Повторите пароль">
                        </div>
                        <input class="button button_blue login__submit bold" type="submit" value="Отправить">
                    </form>
                </div>
            </div>
        </div>
        <div class="content-area" style="text-align: center;">
            {% if result %}
                <p>
                    {{ result }}
                </p>
            {% endif %}
            {% if fromOauth %}
                <p>
                    К сожалению, нам не удалось получить данные, необходимые для Регистрации. <br/>
                    Попробуйте другой способ.
                </p>
            {% endif %}
        </div>
    </div>

{% endblock content %}


{% block script %}
    {{ super() }}
    <!--script src="{{ static('js/jquery-3.2.1.min.js') }}" type="text/javascript"></script-->    
    <script src="{{ static('js/indexPage.js') }}" type="text/javascript"></script>
{% endblock script %}
