$text-black: #1c1c1c;
$text-grey: #909090;
$text-grey_dark: #787878;

$red: #fd4b2d;
$white: white;
$blue: #11aff1;
$grey: #cccccc;
$green: #00a651;
$green-deep: #079d50;
$green-light: #c2dace;
$yellow: #ffa00b;