body {
  font-family: 'Roboto Slab', serif;
}

// content-area --------------------------------------------------------------
// ужимает контент по ширине
.content-area {
    height: 100%;
    margin: 0 auto;
    width: 480px;
    @include mq($from: tablet, $until: desktop) {
      width: 750px;
    }
    @include mq($from: desktop, $until: wide) {
      width: 970px;
    }
    @include mq($from: wide) {
      width: 1170px;
    }
}

.content-area_mb {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0px 16px;
  @include mq($from: desktop, $until: wide) {
    width: 970px;
    margin: 0 auto;
  }
  @include mq($from: wide) {
    width: 1170px;
    margin: 0 auto;
  }
}

// page ----------------------------------------------------------------------
// глобальные элементы, глобальный каркас
// прижимание футера
.page__content {
	height: 100%;
	width: 100%;
	min-width: 320px;
	transition: transform 300ms ease-out;
	will-change: transform;
}

.page__content-top {
	margin-bottom: -230px;
	min-height: 100%;
	&:after {
		content: "";
		display: block;
		height: 230px;
	}
	@include mq($from: tablet, $until: desktop) {
		margin-bottom: -150px;
		&:after {
			height: 150px;
		}
	}
	@include mq($from: desktop) {
		margin-bottom: -180px;
		&:after {
			height: 180px;
		}
	}
}

.page__footer {
	height: 230px;
	@include mq($from: tablet, $until: desktop) {
		height: 150px;
	}
	@include mq($from: desktop) {
		height: 180px;
	}
}


@mixin bold {
  font-weight: 900;
}


.clearfix {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@mixin clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.green {
  color: $green;
}

.bold {
  @include bold();
}

