.delivery-map__map {
    min-height: 400px;
    height: 100%;
    width: 100%;
}

.delivery-map {
    .content-area_mb {
        height: 100%;
    }
}

.delivery-map__content {
    height: 80%;
    width: 320px;
    padding: 0px;
    border: none;
    background: transparent;
    @include mq($from: mobile) {
        width: 480px;
    }
    @include mq($from: tablet) {
        width: 100%;
        .content-area {
            padding: 0px 20px;
        }    
    }
}

.delivery-map__inner {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0px !important;
    flex-direction: column;
    border: none !important;
    @include mq($from: tablet) {
        flex-direction: row;
    }
}

.delivery-map__close {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: -20px;
    right: -20px;
    height: 20px;
    width: 20px;
    font-size: 20px;
    cursor: pointer;
    &:hover {
        color: lighten($text-black, 5);
    }
}

.delivery-map__left {
    position: absolute;
    height: 100px;
    top: 0px;
    left: 0px;
    @include mq($from: tablet) {
        position: relative;
        height: auto;
        width: 30%;
    }
}

.delivery-map__right {
    height: 100%;
    width: 100%;
    padding-top: 100px;
    @include mq($from: tablet) {
        padding-top: 0px;
        width: 70%;
    }
}

.delivery-map__title {
    display: none;
    align-items: center;
    height: 70px;
    padding: 0px 15px;
    color: $white;
    font-size: 14px;
    background: $green;
    @include bold();
    @include mq($from: tablet) {
        display: flex;
    }
}

.delivery-map__points-list {
    height: 100%;
    width: 440px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    @include mq($from: tablet) {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

.delivery-map__points-list-wrap {
    position: absolute;
    top: 0px;
    height: 100%;
    @include mq($from: tablet) {
        padding-top: 70px;
    }
}

.delivery-map__list-item {
    display: inline-block;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid $white;
    transition: .1s;
    &:nth-child(odd) {
        background-color: $border;
        border: 1px solid $border;
    }
    &:hover {
        border: 1px solid $green;
        box-shadow: 0px 0px 20px 0px rgba(54,81,104,0.2);
    }
    @include mq($from: tablet) {
        display: block;
    }
}

.delivery-map__list-item-adress {
    margin-bottom: 8px;
}

.delivery-map__placeholder {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
    background: white;
    z-index: 10000;
}