@import "node_modules/sass-mq/mq";

$mq-breakpoints: (
    mobile:  480px,
    tablet:  750px,
    desktop: 970px,
    wide:    1170px
);
    
//-->     PLUGINS     <--//
//@import 'plugins/jquery.fancybox.min';
//-->     END PLUGINS     <--//


//-->    CORE     <--//
@import "core/*";
//-->    END CORE <--//

//-->    ICON     <--//
@import "blocks/icon/*";
//-->    END ICON <--//

//-->    BASICS    <--//
@import "blocks/header/*";
@import "blocks/footer/*";
//-->    END BASICS <--//

//-->    MOBILE NAVIGATION     <--//
@import "blocks/side-menu/*";
@import "blocks/nav-menu/*";
//-->    END MOBILE NAVIGATION <--//

//-->    BUTTON     <--//
@import "blocks/button/*";
//-->    END BUTTON <--//

//----> TYPOGRAPHY AND ICONS
@import '../../static/fonts/icons/icons';
//----> TYPOGRAPHY END


@import "blocks/breadcrumbs/*";
@import "blocks/input-box/*";
@import "blocks/link/*";
@import "blocks/catalog/*";
@import "blocks/product-card/*";
@import "blocks/sorting/*";
@import "blocks/pagination/*";
@import "blocks/title/*";
@import "blocks/price/*";
@import "blocks/product-page/*";
@import "blocks/modal/*";
@import "blocks/social/*";
@import "blocks/photo-gallery/*";
@import "blocks/list-item/*";
@import "blocks/added-to-cart-modal/*";
@import "blocks/cart/*";
@import "blocks/cart-item/*";
@import "blocks/aftercheck/*";
@import "blocks/delivery-map/*";
@import "blocks/page-slider/*";
@import "blocks/login/*";
@import "blocks/form/*";
@import "blocks/search-list/*";
@import "blocks/search-modal/*";


.slide-enter-active, .slide-leave-active{
    transition: .3s;
}

.slide-enter, .slide-leave-to {
    transform: translate3d(100%,0,0);
}

.infopage__content {
    width: 100%;
}

.infopage__map {
    height: 400px;
    width: 100%;
}