.breadcrumbs {
    padding: 14px 0px 14px 0px;
    background: #fcfcfb;
}

.breadcrumbs__item {
    display: none;
    color: $text-grey;
    user-select: none;
    &:hover {
        color: $green;
    }
    @include mq($from: tablet) {
        display: inline-block;
    }
}

.breadcrumbs__item_pre-last {
    display: inline-block !important;
}

.breadcrumbs__item_last {
    display: inline-block !important;
    color: $text-black !important;
    &:hover {
        color: $text-black;
    }
}

.breadcrumbs__delimeter {
    display: none;
    color: $text-grey;
    @include mq($from: tablet) {
        display: inline-block;
    }
}

.breadcrumbs__delimeter_last {
    display: inline-block !important;
}

.breadcrumbs__delimeter_first {
    display: inline-block !important;
}

.breadcrumbs__dots {
    display: inline-block;
    @include mq($from: tablet) {
        display: none;
    }
}
