{% for node in nodes %}
<div class="header__catalog-submenu">
    {% if node['href'] is not none %}
    <a class="header__submenu-title-link header__submenu-title-link_hoverable" href="/catalog/{{node['href']}}">
    {% else %}
    <a class="header__submenu-title-link">
    {% endif %}
    <div class="header__submenu-title-content">
    {{node['name']}}
    </div>
        {% if node['childs']|length > 0 %}
        <i class="icon icon_chevron-down"></i>
        {% endif %}
    </a>
    {% if node['childs']|length > 0 %}
    <div class="dropdown
        {% if loop.index == 3 %}
        dropdown_brands
        {% endif %}
        "
    >
        <div class="content-area">
            <ul class="header__submenu-list">
            {% for child in node['childs'] %}
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/{{child.url}}">
                    {{child.name}}
                </a>
            </li>
            {% endfor %}
            </ul>

            {% if loop.index == 1 %}
            <div class="header__watch-all">
                <div class="header__watch-all-img-wrap">
                    <img class="header__watch-all-img "src="{{ static('/img/cubes/standard.jpg') }}">
                </div>
                <a class="header__watch-all-link" href="/catalog/standartnie/">
                    ВСЕ СТАНДАРТНЫЕ КУБЫ
                    <i class="icon icon_eye header__eye-icon"></i>
                </a>
            </div>
            {% elif loop.index == 2 %}

            <div class="header__watch-all">
                <div class="header__watch-all-img-wrap">
                    <img class="header__watch-all-img "src="{{ static('/img/cubes/nonstandard.jpg') }}">
                </div>
                <a class="header__watch-all-link" href="/catalog/nestandartnie/">
                    ВСЕ НЕСТАНДАРТНЫЕ КУБЫ
                    <i class="icon icon_eye header__eye-icon"></i>
                </a>
            </div>

            {% endif %}

        </div>
    </div>
    {% endif %}
</div>
{% endfor %}