<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title></title>

  <style type="text/css">

    {% block styles %}
    
    {% endblock styles %}  
  
  </style>

</head>
<body style="margin:0; padding:0;">
  <center>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" valign="top">
                <table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="max-width:600px; width:100%;">
                    <tr>
                        <td style="padding: 10px;">
                            <img src="https://www.kubomarket.ru/static/img/logo/logo.png" alt="Логотип">
                            <br>
                            <span style="color: #a5abaf;font-size:16px;font-weight: 300;">интернет-магазин</span>
                        </td>
                    </tr>
                    <tr style="background: #00a651;;">
                        <td><p></p></td>
                    </tr>
                    <tr><td></td></tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                {% block content %}
                    
                {% endblock content %}
                    
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="max-width:600px; width:100%;">
                    <tr style="background: #00a651;;">
                        <td><p></p></td>
                    </tr>
                    <tr>
                        <td>                            
                            <div style="padding: 10px;width:100%;max-width:120px;display:inline-block;vertical-align:top;" >
                                <table cellspacing="0" cellpadding="0" border="0" align="left" style="width:100%;">
                                <tr>
                                <td>         
                                    <span>
                                        <span style="color: #415465;"><b>Адрес:</b></span>
                                        <br>
                                        г Москва, 
                                        <br>
                                        ул. Авиамоторная                                     
                                        <br>
                                        дом 50 с2
                                    </span>
                                </td>
                                </tr>
                                </table>
                            </div>
                            <div style="padding: 10px;width:100%;max-width:120px;display:inline-block;vertical-align:top;" >
                                <table cellspacing="0" cellpadding="0" border="0" align="left" style="width:100%;">
                                <tr>
                                <td>         
                                    <span>
                                        <span style="color: #415465;"><b>Телефон:</b></span>
                                        <br>
                                        8 (495) 409-6238
                                        <br>                                    
                                    </span>
                                </td>
                                </tr>
                                </table>
                            </div>
                            <div style="padding: 10px;width:100%;max-width:120px;display:inline-block;vertical-align:top;" >
                                <table cellspacing="0" cellpadding="0" border="0" align="left" style="width:100%;">
                                <tr>
                                <td>         
                                    <span>
                                        <span style="color: #415465;"><b>Время работы:</b></span>
                                        <br>
                                        с 10.00 до 20.00
                                        <br>
                                        Пн-Вс.
                                        <br>                                    
                                        Без выходных!                                
                                    </span>
                                </td>
                                </tr>
                                </table>
                            </div>
                            <div style="padding: 10px;width:100%;max-width:120px;display:inline-block;vertical-align:top;" >
                                <table cellspacing="0" cellpadding="0" border="0" align="left" style="width:100%;">
                                <tr>
                                <td>         
                                    <span>
                                        <span style="color: #415465;"><b>Остались вопросы?:</b></span>
                                        <br>
                                        Напишите нам:
                                        <br>                                        
                                        info@kubomarket.ru
                                    </span>
                                </td>
                                </tr>
                                </table>
                            </div>
                        </td>                
                    </tr>
                    <tr align="center" style="background: #079d50; color:#ffffff;">
                        <td align="center" >
                            © 2018 kubomarket
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
  </center>
</body>
</html>
