{% extends "mail_templates/base.html" %} {
    
{% block content %}
<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="max-width:600px; width:100%;padding: 10px;">
    <tr style="background: #ffffff;">
        <td>
            <p><b>
                {% if  order.data["customer"]["name"] %}
                    {{ order.data["customer"]["name"] }},
                {% else %}
                    Уважаемый Клиент,
                {% endif %}
            </b></p> 
            <p>Ваш заказ c номером <b>{{ order.id }}</b> согласован и ожидает оплаты.</p>
            <p>Для оплаты заказа нажмите на кнопку "ОПЛАТИТЬ" в нижней части письма.</p>            
        </td>
    </tr>
    <tr><td><p><span></span></p></td></tr>
    {% include "mail_templates/order_contents.html" %}
    <tr><td><p><span></span></p></td></tr>
    <tr>
        <td>
            <p><b>Оплата заказа:</b></p>
        </td>
    </tr>    
    <tr>
        <td style="max-width:600px; width:100%;" align="center" >
            <a href="{{BASE_URL}}/cart/payment/{{uuid}}/" style="margin:auto; height:40px; width:120px; padding:10px; color:#ffffff; background:#11aff1; border:none;">ОПЛАТИТЬ</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>
            <span>За большей информацией обращайтесь по телефону.</span>
            </p>
        </td>
    </tr>    
</table>
{% endblock content %}
