


{% if category.id == 133 or category.parent.id == 133 %}


<div class="catalog__nav-item">
    <a class="catalog__nav-item-content catalog__navItemContent_active"
    href="/catalog/kuby-nxnxn/"
    >
        Стандартные кубы
        
        <i class="icon icon_chevron-down"></i>
        
    </a>
    
        <ul class="catalog__nav-list catalog__navList_active">
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/2x2/">
                    Кубики Рубика 2х2
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/3x3/">
                    Кубики Рубика 3х3
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/4x4/">
                    Кубики Рубика 4х4
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/5x5/">
                    Кубики Рубика 5х5
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/6x6/">
                    Кубики Рубика 6х6
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/7x7/">
                    Кубики Рубика 7х7
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/8x8/">
                    Кубики Рубика 8x8
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/9x9/">
                    Кубики Рубика 9х9
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/10x10/">
                    Кубики Рубика 10x10
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/11x11/">
                    Кубики Рубика 11x11
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/13x13/">
                    Кубики Рубика 13x13
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/professionalnyj/">
                    Профессиональные
                    </a>
                </li>
            
        </ul>
    
</div>


{% else %}


<div class="catalog__nav-item">
    <a class="catalog__nav-item-content catalog__nav-item-content"
    href="/catalog/kuby-nxnxn/"
    
    >
        Стандартные кубы
        
        <i class="icon icon_chevron-down"></i>
        
    </a>
    
        
            <ul class="catalog__nav-list catalog__nav-list">
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/2x2/">
                        Кубики Рубика 2х2
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/3x3/">
                        Кубики Рубика 3х3
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/4x4/">
                        Кубики Рубика 4х4
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/5x5/">
                        Кубики Рубика 5х5
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/6x6/">
                        Кубики Рубика 6х6
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/7x7/">
                        Кубики Рубика 7х7
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/8x8/">
                        Кубики Рубика 8x8
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/9x9/">
                        Кубики Рубика 9х9
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/10x10/">
                        Кубики Рубика 10x10
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/11x11/">
                        Кубики Рубика 11x11
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/13x13/">
                        Кубики Рубика 13x13
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/kuby-nxnxn/professionalnyj/">
                        Профессиональные
                        </a>
                    </li>
                
            </ul>
        
    
</div>


{% endif %}





{% if category.id == 146 or category.parent.id == 146 %}


<div class="catalog__nav-item">
    <a class="catalog__nav-item-content catalog__navItemContent_active"
    href="/catalog/nestandartnoj-formy/"
    >
        Нестандартные кубы
        
        <i class="icon icon_chevron-down"></i>
        
    </a>
    
        <ul class="catalog__nav-list catalog__navList_active">
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/neobychnoj-formy/">
                    Необычной формы
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/zerkalnye/">
                    Зеркальные кубики Рубика
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/kuboidy-i-bandazhi/">
                    Кубоиды и Бандажи
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/magiya-rubika/">
                    Магия Рубика
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/piramidki/">
                    Пирамидки
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/skvaery/">
                    Скваеры
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/skyuby/">
                    Скьюбы
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/unikalnye/">
                    Уникальные
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/shesterenchatye/">
                    Шестеренчатые
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/megaminksy/">
                    Мегаминксы
                    </a>
                </li>
            
        </ul>
    
</div>


{% else %}


<div class="catalog__nav-item">
    <a class="catalog__nav-item-content catalog__nav-item-content"
    href="/catalog/nestandartnoj-formy/"
    
    >
        Нестандартные кубы
        
        <i class="icon icon_chevron-down"></i>
        
    </a>
    
        
            <ul class="catalog__nav-list catalog__nav-list">
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/neobychnoj-formy/">
                        Необычной формы
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/zerkalnye/">
                        Зеркальные кубики Рубика
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/kuboidy-i-bandazhi/">
                        Кубоиды и Бандажи
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/magiya-rubika/">
                        Магия Рубика
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/piramidki/">
                        Пирамидки
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/skvaery/">
                        Скваеры
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/skyuby/">
                        Скьюбы
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/unikalnye/">
                        Уникальные
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/shesterenchatye/">
                        Шестеренчатые
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/nestandartnoj-formy/megaminksy/">
                        Мегаминксы
                        </a>
                    </li>
                
            </ul>
        
    
</div>


{% endif %}





{% if category.id == None or category.parent.id == None %}


<div class="catalog__nav-item">
    <a class="catalog__nav-item-content catalog__navItemContent_active"
    
    >
        По бренду
        
        <i class="icon icon_chevron-down"></i>
        
    </a>
    
        <ul class="catalog__nav-list catalog__navList_active">
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/calvins-puzzle/">
                    Calvin&#39;s Puzzle
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/cast-puzzle/">
                    Cast Puzzle
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/cubetwist/">
                    CubeTwist
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/cyclone-boys/">
                    Cyclone Boys
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/dayan/">
                    Головоломки DaYan
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/diansheng/">
                    DianSheng
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/fangcun/">
                    FangCun
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/fangshi/">
                    Fangshi
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/fanxin/">
                    FanXin
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/gan/">
                    GAN
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/kungfu/">
                    KungFu
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/lanlan/">
                    LanLan
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/limcube/">
                    LimCube
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/maru/">
                    Maru
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/mefferts/">
                    Meffert&#39;s
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/mf8/">
                    MF8
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/mofangge/">
                    MoFangGe
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/moyu/">
                    MoYu
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/qj/">
                    QJ
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/recent-toys/">
                    Recent Toys
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/rubiks/">
                    Rubik&#39;s
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/shengshou/">
                    ShengShou
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/very-puzzle/">
                    Very Puzzle
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/witeden/">
                    WitEden
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/yuxin/">
                    YuXin
                    </a>
                </li>

                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/xiaomi/">
                    Xiaomi
                    </a>
                </li>
            
                <li class="catalog__nav-list-item">
                    <a class="catalog__nav-list-item-link" href="/catalog/z-cube/">
                    Z-Cube
                    </a>
                </li>
            
        </ul>
    
</div>


{% else %}


<div class="catalog__nav-item">
    <a class="catalog__nav-item-content catalog__nav-item-content"
    
    
        @click="toggleBrands"
        :class="{ catalog__navItemContent_active : displayBrands }"
    
    >
        По бренду
        
        <i class="icon icon_chevron-down"></i>
        
    </a>
    
        
            <ul class="catalog__nav-list"
                :class="{ catalog__navList_active : displayBrands }"
            >
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/calvins-puzzle/">
                        Calvin&#39;s Puzzle
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/cast-puzzle/">
                        Cast Puzzle
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/cubetwist/">
                        CubeTwist
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/cyclone-boys/">
                        Cyclone Boys
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/dayan/">
                        Головоломки DaYan
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/diansheng/">
                        DianSheng
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/fangcun/">
                        FangCun
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/fangshi/">
                        Fangshi
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/fanxin/">
                        FanXin
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/gan/">
                        GAN
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/kungfu/">
                        KungFu
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/lanlan/">
                        LanLan
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/limcube/">
                        LimCube
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/maru/">
                        Maru
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/mefferts/">
                        Meffert&#39;s
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/mf8/">
                        MF8
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/mofangge/">
                        MoFangGe
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/moyu/">
                        MoYu
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/qj/">
                        QJ
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/recent-toys/">
                        Recent Toys
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/rubiks/">
                        Rubik&#39;s
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/shengshou/">
                        ShengShou
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/very-puzzle/">
                        Very Puzzle
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/witeden/">
                        WitEden
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/yuxin/">
                        YuXin
                        </a>
                    </li>

                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/xiaomi/">
                        Xiaomi
                        </a>
                    </li>
                
                    <li class="catalog__nav-list-item">
                        <a class="catalog__nav-list-item-link" href="/catalog/z-cube/">
                        Z-Cube
                        </a>
                    </li>
                
            </ul>
        
    
</div>


{% endif %}





{% if category.id == 193 or category.parent.id == 193 %}


<div class="catalog__nav-item">
    <a class="catalog__nav-item-content catalog__navItemContent_active"
    href="/catalog/tajmery-i-maty/"
    >
        Таймеры и маты
        
    </a>
    
</div>


{% else %}


<div class="catalog__nav-item">
    <a class="catalog__nav-item-content catalog__nav-item-content"
    href="/catalog/tajmery-i-maty/"
    
    >
        Таймеры и маты
        
    </a>
    
</div>


{% endif %}





{% if category.id == 194 or category.parent.id == 194 %}


<div class="catalog__nav-item">
    <a class="catalog__nav-item-content catalog__navItemContent_active"
    href="/catalog/smazki/"
    >
        Смазки
        
    </a>
    
</div>


{% else %}


<div class="catalog__nav-item">
    <a class="catalog__nav-item-content catalog__nav-item-content"
    href="/catalog/smazki/"
    
    >
        Смазки
        
    </a>
    
</div>


{% endif %}


