
<div class="header__catalog-submenu">
    
    <a class="header__submenu-title-link header__submenu-title-link_hoverable" href="/catalog/kuby-nxnxn/">
    
    <div class="header__submenu-title-content">
    Стандартные кубы
    </div>
        
        <i class="icon icon_chevron-down"></i>
        
    </a>
    
    <div class="dropdown
        
        "
    >
        <div class="content-area">
            <ul class="header__submenu-list">
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/2x2/">
                    Кубики Рубика 2х2
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/3x3/">
                    Кубики Рубика 3х3
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/4x4/">
                    Кубики Рубика 4х4
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/5x5/">
                    Кубики Рубика 5х5
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/6x6/">
                    Кубики Рубика 6х6
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/7x7/">
                    Кубики Рубика 7х7
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/8x8/">
                    Кубики Рубика 8x8
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/9x9/">
                    Кубики Рубика 9х9
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/10x10/">
                    Кубики Рубика 10x10
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/11x11/">
                    Кубики Рубика 11x11
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/13x13/">
                    Кубики Рубика 13x13
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/professionalnyj/">
                    Профессиональные
                </a>
            </li>
            
            </ul>

            
            <div class="header__watch-all">
                <div class="header__watch-all-img-wrap">
                    <img class="header__watch-all-img "src="/static/img/cubes/standard.jpg">
                </div>
                <a class="header__watch-all-link" href="/catalog/kuby-nxnxn/">
                    ВСЕ СТАНДАРТНЫЕ КУБЫ
                    <i class="icon icon_eye header__eye-icon"></i>
                </a>
            </div>
            

        </div>
    </div>
    
</div>

<div class="header__catalog-submenu">
    
    <a class="header__submenu-title-link header__submenu-title-link_hoverable" href="/catalog/nestandartnoj-formy/">
    
    <div class="header__submenu-title-content">
    Нестандартные кубы
    </div>
        
        <i class="icon icon_chevron-down"></i>
        
    </a>
    
    <div class="dropdown
        
        "
    >
        <div class="content-area">
            <ul class="header__submenu-list">
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnoj-formy/neobychnoj-formy/">
                    Необычной формы
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnoj-formy/zerkalnye/">
                    Зеркальные кубики Рубика
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnoj-formy/kuboidy-i-bandazhi/">
                    Кубоиды и Бандажи
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnoj-formy/magiya-rubika/">
                    Магия Рубика
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnoj-formy/piramidki/">
                    Пирамидки
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnoj-formy/skvaery/">
                    Скваеры
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnoj-formy/skyuby/">
                    Скьюбы
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnoj-formy/unikalnye/">
                    Уникальные
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnoj-formy/shesterenchatye/">
                    Шестеренчатые
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnoj-formy/megaminksy/">
                    Мегаминксы
                </a>
            </li>

            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnoj-formy/zmejki-rubika/">
                    Змейки
                </a>
            </li>
            
            </ul>

            

            <div class="header__watch-all">
                <div class="header__watch-all-img-wrap">
                    <img class="header__watch-all-img "src="/static/img/cubes/nonstandard.jpg">
                </div>
                <a class="header__watch-all-link" href="/catalog/nestandartnoj-formy/">
                    ВСЕ НЕСТАНДАРТНЫЕ КУБЫ
                    <i class="icon icon_eye header__eye-icon"></i>
                </a>
            </div>

            

        </div>
    </div>
    
</div>

<div class="header__catalog-submenu">
    
    <a class="header__submenu-title-link">
    
    <div class="header__submenu-title-content">
    По бренду
    </div>
        
        <i class="icon icon_chevron-down"></i>
        
    </a>
    
    <div class="dropdown
        
        dropdown_brands
        
        "
    >
        <div class="content-area">
            <ul class="header__submenu-list">
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/calvins-puzzle/">
                    Calvin&#39;s Puzzle
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/cast-puzzle/">
                    Cast Puzzle
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/cubetwist/">
                    CubeTwist
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/cyclone-boys/">
                    Cyclone Boys
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/dayan/">
                    Головоломки DaYan
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/diansheng/">
                    DianSheng
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/fangcun/">
                    FangCun
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/fangshi/">
                    Fangshi
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/fanxin/">
                    FanXin
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/gan/">
                    GAN
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kungfu/">
                    KungFu
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/lanlan/">
                    LanLan
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/limcube/">
                    LimCube
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/maru/">
                    Maru
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/mefferts/">
                    Meffert&#39;s
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/mf8/">
                    MF8
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/mofangge/">
                    MoFangGe
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/moyu/">
                    MoYu
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/qj/">
                    QJ
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/recent-toys/">
                    Recent Toys
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/rubiks/">
                    Rubik&#39;s
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/shengshou/">
                    ShengShou
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/very-puzzle/">
                    Very Puzzle
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/witeden/">
                    WitEden
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/yuxin/">
                    YuXin
                </a>
            </li>

            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/xiaomi/">
                    Xiaomi
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/z-cube/">
                    Z-Cube
                </a>
            </li>
            
            </ul>

            

        </div>
    </div>
    
</div>

<div class="header__catalog-submenu">
    
    <a class="header__submenu-title-link header__submenu-title-link_hoverable" href="/catalog/tajmery-i-maty/">
    
    <div class="header__submenu-title-content">
    Таймеры и маты
    </div>
        
    </a>
    
</div>

<div class="header__catalog-submenu">
    
    <a class="header__submenu-title-link header__submenu-title-link_hoverable" href="/catalog/smazki/">
    
    <div class="header__submenu-title-content">
    Смазки
    </div>
        
    </a>
    
</div>
