
<div class="header__catalog-submenu">
    
    <a class="header__submenu-title-link header__submenu-title-link_hoverable" href="/catalog/kuby-nxnxn/">
    
    <div class="header__submenu-title-content">
    Стандартные кубы
    </div>
        
        <i class="icon icon_chevron-down"></i>
        
    </a>
    
    <div class="dropdown
        
        "
    >
        <div class="content-area">
            <ul class="header__submenu-list">
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/2x2/">
                    Кубы 2x2
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/3x3/">
                    Кубы 3x3
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/4x4/">
                    Кубы 4x4
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/5x5/">
                    Кубы 5x5
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/6x6/">
                    Кубы 6x6
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/7x7/">
                    Кубы 7x7
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/9x9/">
                    Кубы 9x9
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kuby-nxnxn/13x13/">
                    Кубы 13x13
                </a>
            </li>
            
            </ul>

            
            <div class="header__watch-all">
                <div class="header__watch-all-img-wrap">
                    <img class="header__watch-all-img "src="/static/img/cubes/standard.jpg">
                </div>
                <a class="header__watch-all-link" href="/catalog/kuby-nxnxn/">
                    ВСЕ СТАНДАРТНЫЕ КУБЫ
                    <i class="icon icon_eye header__eye-icon"></i>
                </a>
            </div>
            

        </div>
    </div>
    
</div>

<div class="header__catalog-submenu">
    
    <a class="header__submenu-title-link header__submenu-title-link_hoverable" href="/catalog/nestandartnie/">
    
    <div class="header__submenu-title-content">
    Нестандартные кубы
    </div>
        
        <i class="icon icon_chevron-down"></i>
        
    </a>
    
    <div class="dropdown
        
        "
    >
        <div class="content-area">
            <ul class="header__submenu-list">
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnie/neobychnoj-formy/">
                    Необычной формы
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnie/zerkalnye/">
                    Зеркальные
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnie/kuboidy-i-bandazhi/">
                    Кубоиды и Бандажи
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnie/magiya-rubika/">
                    Магия Рубика
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnie/megaminksy/">
                    Мегаминксы
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnie/piramidki/">
                    Пирамидки
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnie/skvaery/">
                    Скваеры
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnie/skyuby/">
                    Скьюбы
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnie/unikalnye/">
                    Уникальные
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/nestandartnie/shesterenchatye/">
                    Шестеренчатые
                </a>
            </li>
            
            </ul>

            

            <div class="header__watch-all">
                <div class="header__watch-all-img-wrap">
                    <img class="header__watch-all-img "src="/static/img/cubes/nonstandard.jpg">
                </div>
                <a class="header__watch-all-link" href="/catalog/nestandartnie/">
                    ВСЕ НЕСТАНДАРТНЫЕ КУБЫ
                    <i class="icon icon_eye header__eye-icon"></i>
                </a>
            </div>

            

        </div>
    </div>
    
</div>

<div class="header__catalog-submenu">
    
    <a class="header__submenu-title-link">
    
    <div class="header__submenu-title-content">
    По бренду
    </div>
        
        <i class="icon icon_chevron-down"></i>
        
    </a>
    
    <div class="dropdown
        
        dropdown_brands
        
        "
    >
        <div class="content-area">
            <ul class="header__submenu-list">
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/calvins-puzzle/">
                    Calvin&#39;s Puzzle
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/cast-puzzle/">
                    Cast Puzzle
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/cubetwist/">
                    CubeTwist
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/cyclone-boys/">
                    Cyclone Boys
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/dayan/">
                    DaYan
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/diansheng/">
                    DianSheng
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/fangcun/">
                    FangCun
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/fangshi/">
                    Fangshi
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/fanxin/">
                    FanXin
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/gan/">
                    GAN
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/heshu/">
                    HeShu
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/kungfu/">
                    KungFu
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/lanlan/">
                    LanLan
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/limcube/">
                    LimCube
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/maru/">
                    Maru
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/mf8/">
                    MF8
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/moyu/">
                    MoYo
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/qj/">
                    QJ
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/recent-toys/">
                    Recent Toys
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/rubiks/">
                    Rubik&#39;s
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/shengshou/">
                    ShengShou
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/very-puzzle/">
                    Very Puzzle
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/witeden/">
                    WitEden
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/yuxin/">
                    YuXin
                </a>
            </li>
            
            <li class="header__submenu-item">
                <a class="header__submenu-link" href="/catalog/z-cube/">
                    Z-Cube
                </a>
            </li>
            
            </ul>

            

        </div>
    </div>
    
</div>

<div class="header__catalog-submenu">
    
    <a class="header__submenu-title-link header__submenu-title-link_hoverable" href="/catalog/tajmery-i-maty/">
    
    <div class="header__submenu-title-content">
    Таймеры и маты
    </div>
        
    </a>
    
</div>

<div class="header__catalog-submenu">
    
    <a class="header__submenu-title-link header__submenu-title-link_hoverable" href="/catalog/smazki/">
    
    <div class="header__submenu-title-content">
    Смазки
    </div>
        
    </a>
    
</div>
