<div class="footer" id="footer">
    <div class="footer__top">
        <div class="content-area_mb footer__content-area">

            <div class="foooter__logo-wrap">
                <img class="footer__logo" src="{{ static('img/logo/logo-small.png') }}">
            </div>

            <div class="footer__items">
                <div class="footer__nav-wrap">
                    <nav class="footer__nav footer__item">
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">
                                Вопросы
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">
                                Доставка и оплата
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">
                                Контакты
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">
                                Где мой заказ
                            </a>
                        </li>
                    </nav>
                </div>
            </div>

            <div class="footer__contacts">
                <div class="footer__contacts-wrap">
                    <i class="icon icon_phone-green footer__phone-icon"></i>
                    <div class="footer__phone">
                        8 (812) 207-15-73
                    </div>
                    <div class="footer__phone">
                        8 (812) 207-15-73
                    </div>
                </div>
            </div>

            <div class="footer__social">
                <div class="footer__social-wrap">
                    <a class="footer__social-link social-vk">
                    </a>
                    <a class="footer__social-link social-fb">
                    </a>
                    <a class="footer__social-link social-im">
                    </a>
                    <a class="footer__social-link social-vk">
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="footer__bottom">
        © 2018 KUBOMARKET
        <div class="footer__bottom-social">
        </div>
    </div>
</div>