<div class="footer" id="footer">
    <div class="footer__top">
        <div class="content-area">
            <div class="footer__columns">
                    <div class="footer__column footer__column_1">
                        <div class="footer__logo-wrap">
                            <img class="logo footer__logo" src="{{ static('/img/logo/logo-inverted.png') }}">
                        </div>
                    </div>
                    <div class="footer__column footer__column_2">
                        <div class="footer__nav">
                            <ul class="footer__nav-semicolumn">
                                <li class="footer__nav-item">
                                    <a class="link footer__nav-link"
                                        href="#"
                                    >
                                        Вопросы
                                    </a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="link footer__nav-link"
                                        href="#"
                                    >
                                        Доставка и оплата
                                    </a>
                                </li>
                            </ul>
                            <ul class="footer__nav-semicolumn">
                                <li class="footer__nav-item">
                                    <a class="link footer__nav-link"
                                        href="#"
                                    >
                                        Контакты
                                    </a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="link footer__nav-link"
                                        href="#"
                                    >
                                        Где мой заказ
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__column footer__column_3">
                        <div class="footer__social-list">
                            <a class="footer__social-item social-vk"
                                href="#"
                            >
                            </a>
                            <a class="footer__social-item social-fb"
                                href="#"
                            >
                            </a>
                            <a class="footer__social-item social-im"
                                href="#"
                            >
                            </a>
                            <a class="footer__social-item social-yt"
                                href="#"
                            >
                            </a>
                        </div>
                    </div>
                    <div class="footer__column footer__column_4">
                        <div class="footer__contacts">
                            <i class="icon icon_phone-green footer__phone-icon"></i>
                            <div class="footer__phone">
                                8 (812) 207-15-73
                            </div>
                            <div class="footer__phone">
                                8 (812) 207-15-73
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="footer__bottom">
        © 2018 KUBOMARKET
    </div>
</div>