<div class="footer" id="footer">
    <div class="footer__top">
        <div class="content-area_mb footer__content-area">

            <div class="footer__logo-wrap">
                <img class="footer__logo_sm" src="{{ static('img/logo/logo-small.png') }}">
                <img class="footer__logo_bg" src="{{ static('img/logo/logo-inverted.png') }}">
            </div>

            <div class="footer__items">
                <div class="footer__nav-wrap">
                    <nav class="footer__nav footer__item">
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="/faq/">
                                Вопросы
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="/delivery-and-payment/">
                                Доставка и оплата
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="/contacts/">
                                Контакты
                            </a>
                        </li>
                    </nav>
                </div>
            </div>

            <div class="footer__social_desktop">
                <div class="footer__social-wrap">
                    <a class="footer__social-link icon_social-media social-vk"
                        href="https://vk.com/kubomarketru"
                    >
                    </a>
                    <a class="footer__social-link icon_social-media social-fb"
                        href="https://www.facebook.com/Kubomarketru-Правильные-кубики-193173621520855/"
                    >
                    </a>
                    <a class="footer__social-link icon_social-media social-im"
                        href="https://www.instagram.com/kubomarketru/"
                    >
                    </a>
                    <a class="footer__social-link icon_social-media social-yt"
                        href="https://www.youtube.com/channel/UCuMc9uEuIxbuim0W_qadXdw"
                    >
                    </a>
                </div>
            </div>

            <div class="footer__contacts">
                <div class="footer__contacts-wrap">
                    <i class="icon icon_phone-green footer__phone-icon"></i>
                    <div class="footer__phone">
                        8 (495) 409-6238
                    </div>
                    <div class="footer__phone">
                        8 (965) 183-5872
                    </div>
                </div>
            </div>

            <div class="footer__social">
                <div class="footer__social-wrap">
                    <a class="footer__social-link icon_social-media social-vk"
                        href="https://vk.com/kubomarketru"
                    >
                    </a>
                    <a class="footer__social-link icon_social-media social-fb"
                        href="https://www.facebook.com/Kubomarketru-Правильные-кубики-193173621520855/"
                    >
                    </a>
                    <a class="footer__social-link icon_social-media social-im"
                        href="https://www.instagram.com/kubomarketru/"
                    >
                    </a>
                    <a class="footer__social-link icon_social-media social-yt"
                        href="https://www.youtube.com/channel/UCuMc9uEuIxbuim0W_qadXdw"
                    >
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="footer__bottom">
        © 2018 KUBOMARKET
        <div class="footer__bottom-social">
            <a class="footer__social-link icon_social-media social-vk"
                href="https://vk.com/kubomarketru"
            >
            </a>
            <a class="footer__social-link icon_social-media social-fb"
                href="https://www.facebook.com/Kubomarketru-Правильные-кубики-193173621520855/"
            >
            </a>
            <a class="footer__social-link icon_social-media social-im"
                href="https://www.instagram.com/kubomarketru/"
            >
            </a>
            <a class="footer__social-link icon_social-media social-yt"
                href="https://www.youtube.com/channel/UCuMc9uEuIxbuim0W_qadXdw"
            >
            </a>
        </div>
    </div>
</div>