<div class="nav-menu" id="nav-menu"
>
    <div class="nav-menu__header">
        <div class="nav-menu__control nav-menu__control_back">

        </div>
        <div class="nav-menu__title">
            Каталог
        </div>
        <div class="nav-menu__control nav-menu__control_close" @click="hideNavMenu">
            <div class="button_round">
                <span class="icon icon_close"></span>
            </div>
        </div>
    </div>

    <div class="nav-menu__content">
        <ul class="nav-menu__list">
            <li class="nav-menu__list-item">
                <a class="nav-menu__list-link"
                    @click="showSlide(1)"
                >
                    СТАНДАРТНЫЕ КУБЫ
                    <i class="icon icon_chevron-right"></i>
                </a>
            </li>
            <li class="nav-menu__list-item">
                <a class="nav-menu__list-link"
                    @click="showSlide(2)"
                >
                    НЕСТАНДАРТНОЙ ФОРМЫ
                    <i class="icon icon_chevron-right"></i>
                </a>
            </li>
            <li class="nav-menu__list-item">
                <a class="nav-menu__list-link"
                    @click="showSlide(3)"
                >
                    ПО БРЕНДУ
                    <i class="icon icon_chevron-right"></i>
                </a>
            </li>
            <li class="nav-menu__list-item">
                <a class="nav-menu__list-link"
                    href="/catalog/tajmery-i-maty/"
                >
                    ТАЙМЕРЫ И МАТЫ
                    <i class="icon icon_chevron-right"></i>
                </a>
            </li>
            <li class="nav-menu__list-item">
                <a class="nav-menu__list-link"
                    href="/catalog/smazki/"
                >
                    СМАЗКИ
                    <i class="icon icon_chevron-right"></i>
                </a>
            </li>
        </ul>
    </div>

    
    <transition name="slide">
        <nav-menu-slide 
            title="Стандартные кубы"
            v-if="activeSlide === 1"
            v-on:hide="setActiveSlideToDefault"
        >
        <div class="nav-menu__content">
            <ul class="nav-menu__list">

                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/kuby-nxnxn/2x2/"
                    >
                        Кубики Рубика 2х2
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/kuby-nxnxn/3x3/"
                    >
                        Кубики Рубика 3х3
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/kuby-nxnxn/4x4/"
                    >
                        Кубики Рубика 4х4
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/kuby-nxnxn/5x5/"
                    >
                        Кубики Рубика 5х5
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/kuby-nxnxn/6x6/"
                    >
                        Кубики Рубика 6х6
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/kuby-nxnxn/7x7/"
                    >
                        Кубики Рубика 7х7
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/kuby-nxnxn/8x8/"
                    >
                        Кубики Рубика 8x8
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/kuby-nxnxn/9x9/"
                    >
                        Кубики Рубика 9х9
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/kuby-nxnxn/10x10/"
                    >
                        Кубики Рубика 10x10
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/kuby-nxnxn/11x11/"
                    >
                        Кубики Рубика 11x11
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/kuby-nxnxn/13x13/"
                    >
                        Кубики Рубика 13x13
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/kuby-nxnxn/professionalnyj/"
                    >
                        Профессиональные
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                

            </ul>
        </div>
        
        </nav-menu-slide>
    </transition>
    
    <transition name="slide">
        <nav-menu-slide 
            title="Стандартные кубы"
            v-if="activeSlide === 2"
            v-on:hide="setActiveSlideToDefault"
        >
        <div class="nav-menu__content">
            <ul class="nav-menu__list">

                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/nestandartnoj-formy/neobychnoj-formy/"
                    >
                        Необычной формы
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/nestandartnoj-formy/zerkalnye/"
                    >
                        Зеркальные кубики Рубика
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/nestandartnoj-formy/kuboidy-i-bandazhi/"
                    >
                        Кубоиды и Бандажи
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/nestandartnoj-formy/magiya-rubika/"
                    >
                        Магия Рубика
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/nestandartnoj-formy/piramidki/"
                    >
                        Пирамидки
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/nestandartnoj-formy/skvaery/"
                    >
                        Скваеры
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/nestandartnoj-formy/skyuby/"
                    >
                        Скьюбы
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/nestandartnoj-formy/unikalnye/"
                    >
                        Уникальные
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/nestandartnoj-formy/shesterenchatye/"
                    >
                        Шестеренчатые
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/nestandartnoj-formy/megaminksy/"
                    >
                        Мегаминксы
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>

                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/nestandartnoj-formy/zmejki-rubika/"
                    >
                        Змейки
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>

                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/neokub/"
                    >
                        Неокубы
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
            </ul>
        </div>
        
        </nav-menu-slide>
    </transition>
    
    <transition name="slide">
        <nav-menu-slide 
            title="Стандартные кубы"
            v-if="activeSlide === 3"
            v-on:hide="setActiveSlideToDefault"
        >
        <div class="nav-menu__content">
            <ul class="nav-menu__list">

                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/calvins-puzzle/"
                    >
                        Calvin&#39;s Puzzle
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/cast-puzzle/"
                    >
                        Cast Puzzle
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/cubetwist/"
                    >
                        CubeTwist
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/cyclone-boys/"
                    >
                        Cyclone Boys
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/dayan/"
                    >
                        Головоломки DaYan
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/diansheng/"
                    >
                        DianSheng
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/fangcun/"
                    >
                        FangCun
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/fangshi/"
                    >
                        Fangshi
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/fanxin/"
                    >
                        FanXin
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/gan/"
                    >
                        GAN
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/kungfu/"
                    >
                        KungFu
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/lanlan/"
                    >
                        LanLan
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/limcube/"
                    >
                        LimCube
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/maru/"
                    >
                        Maru
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/mefferts/"
                    >
                        Meffert&#39;s
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/mf8/"
                    >
                        MF8
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/mofangge/"
                    >
                        MoFangGe
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/moyu/"
                    >
                        MoYu
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/qj/"
                    >
                        QJ
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/recent-toys/"
                    >
                        Recent Toys
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/rubiks/"
                    >
                        Rubik&#39;s
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/shengshou/"
                    >
                        ShengShou
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/very-puzzle/"
                    >
                        Very Puzzle
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/witeden/"
                    >
                        WitEden
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/yuxin/"
                    >
                        YuXin
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>

                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/xiaomi/"
                    >
                        Xiaomi
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                
                <li class="nav-menu__list-item">
                    <a class="nav-menu__list-link"
                        href="/catalog/z-cube/"
                    >
                        Z-Cube
                        <i class="icon icon_chevron-right"></i>
                    </a>
                </li>
                

            </ul>
        </div>
        
        </nav-menu-slide>
    </transition>
    
    <transition name="slide">
        <nav-menu-slide 
            title="Стандартные кубы"
            v-if="activeSlide === 4"
            v-on:hide="setActiveSlideToDefault"
        >
        <div class="nav-menu__content">
            <ul class="nav-menu__list">

                

            </ul>
        </div>
        
        </nav-menu-slide>
    </transition>
    
    <transition name="slide">
        <nav-menu-slide 
            title="Стандартные кубы"
            v-if="activeSlide === 5"
            v-on:hide="setActiveSlideToDefault"
        >
        <div class="nav-menu__content">
            <ul class="nav-menu__list">

                

            </ul>
        </div>
        
        </nav-menu-slide>
    </transition>
    

</div>