<div class="side-menu" 
    id="side-menu"
    :class="{ sideMenu_visible: isVisible }"
    :class="{ sideMenu__hidden: !isVisible}"
>
    <div class="side-menu__overlay" @click="hideSideMenu">
    </div>
    <div class="side-menu__content" id="side-menu__content">
        <div class="side-menu__auth-area">
            {% if request.user.is_authenticated %}
            <a class="side-menu__user" href="/u/profile/">
                <div class="side-menu__user-left">
                    <i class="side-menu__user-icon icon icon_profile"></i>
                </div>
                <div class="side-menu__user-right">
                    <div class="side-menu__user-name">
                        {{request.user.username}}
                    </div>
                    <div class="side-menu__user-email">
                        {{request.user.username}}
                    </div>
                </div>
            </a>
            {% else %}
            <div class="side-menu__auth-buttons">
                <a class="side-menu__login side-menu__auth-button button button_blue" href="/u/login/">
                    Вход
                </a>
                <a class="side-menu__register side-menu__auth-button button button_blue" href="/u/register/">
                    Регистрация
                </a>
            </div>
            {% endif %}
            <div class="button_round side-menu__close"
                @click="hideSideMenu"
            >
                <i class="icon icon_close"></i>
            </div>
        </div>
        <div class="side-menu__delimeter"></div>
        <ul class="side-menu__list">
            <li class="side-menu__list-item">
                <a class="side-menu__list-link"
                    @click="showNavMenu"
                >
                    <i class="button__icon icon icon_list"></i>
                    Каталог
                </a>
            </li>
            <div class="side-menu__delimeter"></div>
            <li class="side-menu__list-item">
                <a class="side-menu__list-link"
                    @click="showSearchModal"
                >
                    <i class="button__icon icon icon_search"></i>
                    Поиск
                </a>
            </li>
            <li class="side-menu__list-item">
                <a class="side-menu__list-link"
                    href="/delivery-and-payment/"
                >
                    <i class="button__icon icon icon_rouble"></i>
                    Доставка и оплата
                </a>
            </li>
            <li class="side-menu__list-item">
                <a class="side-menu__list-link"
                    href="/contacts/"
                >
                    <i class="button__icon icon icon_help-outline"></i>
                    Контакты
                </a>
            </li>
            <li class="side-menu__list-item">
                <a class="side-menu__list-link"
                    href="/faq/"
                >
                    <i class="button__icon icon icon_help-outline"></i>
                    Вопросы и помощь
                </a>
            </li>
            <div class="side-menu__delimeter"></div>
            <li class="side-menu__list-item">
                <a class="side-menu__list-link"
                    @click="showCityChoiceModal"
                >
                    <i class="button__icon icon icon_location side-menu__location-icon"></i>
                    Регион: <span class="grey">Москва</span>
                </a>
            </li>
            {% if request.user.is_authenticated %}
            <div class="side-menu__delimeter">
            </div>
            <li class="side-menu__list-item">
                <a class="side-menu__list-link"
                    href="/u/logout/"
                >
                    <i class="button__icon icon icon__logout side-menu__location-icon"></i>
                    Выйти
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>