<div class="side-menu" 
    id="side-menu"
    :class="{ sideMenu_visible: isVisible }"
    :class="{ sideMenu__hidden: !isVisible}"
>
    <div class="side-menu__overlay" @click="hideSideMenu">
    </div>
    <div class="side-menu__content" id="side-menu__content">
        <div class="side-menu__auth-area">
            <div class="button_round side-menu__close"
                @click="hideSideMenu"
            >
                <i class="icon icon_close"></i>
            </div>
        </div>
        <div class="side-menu__delimeter"></div>
        <ul class="side-menu__list">
            <li class="side-menu__list-item">
                <a class="side-menu__list-link"
                    @click="showNavMenu"
                >
                    <i class="button__icon icon icon_list"></i>
                    Каталог
                </a>
            </li>
            <div class="side-menu__delimeter"></div>
            <li class="side-menu__list-item">
                <a class="side-menu__list-link"
                    @click="showSearchModal"
                >
                    <i class="button__icon icon icon_search"></i>
                    Поиск
                </a>
            </li>
            <li class="side-menu__list-item">
                <a class="side-menu__list-link"
                    href="/delivery-and-payment/"
                >
                    <i class="button__icon icon icon_rouble"></i>
                    Доставка и оплата
                </a>
            </li>
            <li class="side-menu__list-item">
                <a class="side-menu__list-link"
                    href="/contacts/"
                >
                    <i class="button__icon icon icon_help-outline"></i>
                    Контакты
                </a>
            </li>
            <li class="side-menu__list-item">
                <a class="side-menu__list-link"
                    href="/faq/"
                >
                    <i class="button__icon icon icon_help-outline"></i>
                    Вопросы и помощь
                </a>
            </li>
            <div class="side-menu__delimeter"></div>
            <li class="side-menu__list-item">
                <a class="side-menu__list-link"
                    @click="showCityChoiceModal"
                >
                    <i class="button__icon icon icon_location side-menu__location-icon"></i>
                    Регион: <span class="grey">Москва</span>
                </a>
            </li>
        </ul>
    </div>
</div>