{% extends "base.html" %}

{% block css %} 
    {{ super() }}
    <link rel="stylesheet" href="{{ static('css/owl.carousel.min.css') }}" type="text/css" media="screen" /> 
    <link rel="stylesheet" href="{{ static('css/owl.theme.default.min.css') }}" type="text/css" media="screen" /> 
{% endblock css %} 

{% block meta_title %}Купить головоломки | Интернет магазин головоломок Кубомаркет{% endblock %}
{% block meta_description %}Где купить головоломки? Ответ прост - в магазине головоломок Кубомаркет. Интернет магазин головоломок предлагает широкий выбор головоломок с доставкой в Москве, СпБ, Казани, Самаре и всей России. Оплата при получении. Осмотр заказа до оплаты{% endblock %}
{% block meta_keywords %}KeyWords - головоломки купить, магазин головоломок, магазин головоломок в москве, интернет магазин головоломок, игры головоломки купить, магазин головоломок кубик рубика{% endblock %}



{% block content %}

<div class="page-slider__wrap">
    <div class="content-area page-slide__inner">
        <div class="page-slider">
            <div class="owl-carousel owl-theme" id="page-slider">
                <a class="item page-slider__item page-slider__item_1"
                    href="/product/mofangge-3x3-valk-3-power1729/"
                >
                    <img src="/static/img/slides/slide_01.png">
                </a>
                <a class="item page-slider__item page-slider__item_3"
                    href="/catalog/kuby-nxnxn/3x3/"
                >
                    <img src="/static/img/slides/slide_03.png">
                </a>
                <a class="item page-slider__item page-slider__item_4"
                    href="/catalog/tajmery-i-maty/"
                >
                    <img src="/static/img/slides/slide_04.png">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="index-content">
    <div class="index-content__grey-wrap">
        <div class="content-area_mb content-area_mb-column">

            <div class="actions-top">
                <h1 class="actions-top__title">
                    Интернет магазин кубиков Рубика
                </h1>
                <div class="actions-top__items">
                    <a class="actions-top__item" href="/i/delivery/">
                        <div class="actions-top__item-icon icon icon_cashback">
                        </div>
                        <div class="actions-top__item-caption">
                            Оплата при получении после просмотра
                        </div>
                    </a>
                    <a class="actions-top__item" href="/i/cashback/">
                        <div class="actions-top__item-icon icon icon_sale">
                        </div>
                        <div class="actions-top__item-caption">
                            Скидки и акции
                        </div>
                    </a>
                    <a class="actions-top__item" href="/i/return/">
                        <div class="actions-top__item-icon icon icon_refund">
                        </div>
                        <div class="actions-top__item-caption">
                            Возврат и обмен в течение 30 дней
                        </div>
                    </a>
                </div>
            </div>

            <div class="index-content__main">

                <div class="carousel">
                    <h2 class="carousel__title">
                        Популярные товары
                    </h2>
                    <div class="carousel__items-wrap">
                        <div class="carousel__items owl-carousel owl-theme"
                            id="carousel-1"
                        >
                            {% for item in bestsellers %}
                            <div class="carousel__item item product-card">
                                <div class="product-card__img-wrap">
                                    <img class="product-card__img" src="{{item.thumbnail.url}}">
                                    <a class="product-card__link-overlay" href="/product/{{item.slug}}"></a>
                                </div>
                                <div class="product-card__content">
                                    <div class="product-card__price">
                                        {{item.price}} <i class="icon icon_rouble"></i>
                                    </div>
                                    <a class="product-card__name" href="/product/{{item.slug}}">
                                        {{item.name}}
                                    </a>
                                    <div class="product-card__interaction-area">
                                        <a class="button button_ghost product_card__details"
                                            href="/product/{{item.slug}}"
                                        >
                                            подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="vk-group-widget" id="vk-group-widget-container">
                    <div id="vk-group-widget">
                    </div>
                </div>

                <div class="carousel">
                    <h2 class="carousel__title">
                        Мы рекомендуем
                    </h2>
                    <div class="carousel__items-wrap">
                        <div class="carousel__items owl-carousel owl-theme"
                            id="carousel-2"
                        >
                            {% for item in recomended %}
                            <div class="carousel__item item product-card">
                                <div class="product-card__img-wrap">
                                    <img class="product-card__img" src="{{item.thumbnail.url}}">
                                    <a class="product-card__link-overlay" href="/product/{{item.slug}}"></a>
                                </div>
                                <div class="product-card__content">
                                    <div class="product-card__price">
                                        {{item.price}} <i class="icon icon_rouble"></i>
                                    </div>
                                    <a class="product-card__name" href="/product/{{item.slug}}">
                                        {{item.name}}
                                    </a>
                                    <div class="product-card__interaction-area">
                                        <a class="button button_ghost product_card__details"
                                            href="/product/{{item.slug}}"
                                        >
                                            подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="youtube-widget">
                    <div class="youtube-widget__top">
                        <div class="youtube-widget__icon">
                        </div>
                        <div class="youtube-widget__title">
                            Наш канал на YouTube
                        </div>
                    </div>
                    <div class="youtube-widget__content">
                        <div class="youtube-widget__item">
                            <div class="youtube-widget__video">
                                <iframe
                                    width="100%"
                                    height="100%"
                                    src="https://www.youtube.com/embed/kvpngNsf1FY/"
                                    frameborder="0" allow="autoplay; encrypted-media"
                                    allowfullscreen
                                >
                                </iframe>
                            </div>
                        </div>
                        <div class="youtube-widget__item">
                            <div class="youtube-widget__video">
                                <iframe
                                    width="100%"
                                    height="100%"
                                    src="https://www.youtube.com/embed/gpDAai8-TjQ/"
                                    frameborder="0" allow="autoplay; encrypted-media"
                                    allowfullscreen
                                >
                                </iframe>
                            </div>
                        </div>
                        <div class="youtube-widget__item">
                            <div class="youtube-widget__video">
                                <iframe
                                    width="100%"
                                    height="100%"
                                    src="https://www.youtube.com/embed/v2YVdzDfuj4/"
                                    frameborder="0" allow="autoplay; encrypted-media"
                                    allowfullscreen
                                >
                                </iframe>
                            </div>
                        </div>
                        <div class="youtube-widget__item">
                            <div class="youtube-widget__video">
                                <iframe
                                    width="100%"
                                    height="100%"
                                    src="https://www.youtube.com/embed/Gez7dPFKJo8/"
                                    frameborder="0" allow="autoplay; encrypted-media"
                                    allowfullscreen
                                >
                                </iframe>
                            </div>
                        </div>
                    </div>
                    <div class="youtube-widget__controls">
                        <a class="youtube-widget__button" href="https://www.youtube.com/channel/UCK0U1Kcy1XJbf-vruFXMiHA/videos?sub_confirmation=1">
                            <span>Подписаться</span>
                        </a>
                    </div>
                </div>

                <div class="carousel">
                    <h2 class="carousel__title">
                        Сегодня купили
                    </h2>
                    <div class="carousel__items-wrap">
                        <div class="carousel__items owl-carousel owl-theme"
                            id="carousel-3"
                        >
                            {% for item in last_bought %}
                            <div class="carousel__item item product-card">
                                <div class="product-card__img-wrap">
                                    <img class="product-card__img" src="{{item.thumbnail.url}}">
                                    <a class="product-card__link-overlay" href="/product/{{item.slug}}"></a>
                                </div>
                                <div class="product-card__content">
                                    <div class="product-card__price">
                                        {{item.price}} <i class="icon icon_rouble"></i>
                                    </div>
                                    <a class="product-card__name" href="/product/{{item.slug}}">
                                        {{item.name}}
                                    </a>
                                    <div class="product-card__interaction-area">
                                        <a class="button button_ghost product_card__details"
                                            href="/product/{{item.slug}}"
                                        >
                                            подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</div>

<div class="subscribe" id="subscribe">
    <div class="content-area subscribe__content">
        <div class="subscribe__title">
            Подпишись на наши новости и получай специальные предложения!
        </div>
        <div class="subscribe__inputs">
            <div class="subscribe__input-box">
                <input class="subscribe__input input"
                    placeholder="Введите вашу почту"
                    type="email"
                    v-model="email"
                >
            </div>
            <div class="subscribe__controls">
                <button class="subscribe__button button button_yellow"
                    @click="submit"
                >
                    ПОДПИСАТЬСЯ
                </button>
            </div>
        </div>
    </div>
</div>

<div class="content-area_mb">
    <div class="index-reviews">
        <h2 class="index-reviews__title">
            Что говорят наши клиенты
        </h2>
        {% if reviews|length > 0 %}
        <div class="index-reviews__list">
            {% for review in reviews %}
            <div class="index-review">
                <div class="index-review__top">
                    <div class="index-review__data">
                        <div class="index-review__author">
                            {{review.author}}
                        </div>
                        <div class="index-review__date">
                            {{format_time(review.created_at)}}
                        </div>
                        <div class="index-review__rating">
                            {{rating_stars(review.rating)|safe}}
                        </div>
                    </div>
                    <div class="index-review__product">
                        <div class="index-review__product-img-wrap">
                            <img class="index-review__product-img"
                                src="{{review.product.thumbnail.url}}"
                            >
                        </div>
                        <a class="link index-review__product-name"
                            href="/product/{{review.product.slug}}"
                        >
                            {{review.product.name}}
                        </a>
                    </div>
                </div>
                <div class="index-review__content">
                    {{review.content}}
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="index-reviews__placeholder">
            В данный момент нет новых отзывов
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}

{% block actions %}
    {{ super() }}
    <div class="content-area_mb">
        <div class="index-page-text text">
            <h3 class="bold">Магазин головоломок Кубомаркет.Ру</h3>
            <p>
                Создателю магического кубика Эрнё Рубику потребовался месяц, 
                чтобы одолеть свою головоломку. 
                Сегодня лучшие спидкуберы решают эту задачу почти за четыре секунды. 
                Без упорных тренировок такого результата не достичь, однако вы вполне 
                можете научиться собирать кубик за одну-две минуты менее чем за месяц. 
                Чтобы это сделать, вам нужны правильные кубики. 
                Где их достать? В нашем интернет магазине головоломок.
            </p>
            <p>
                Кубомаркет — это магазин головоломок с быстрой доставкой по Москве, СПБ 
                и другим городам России. У нас можно купить стандартные и нестандартные кубики 
                Рубика, а также другие головоломки и оборудование для спидкубинга. 
                В ассортименте присутствуют шарнирные головоломки для начинающих, 
                любителей и профессиональных куберов. 
                Каталог наполнен сотнями товаров более чем от
                25 брендов, включая легендарные Rubik’s, GAN и DaYan. 
            </p>
            <p>
                В магазине головоломок Кубомаркет можно найти стандартные кубы от 
                2x2 до 17x17, мегаминксы, зеркальные кубики, пирамидки, скваеры и т. д. 
                Также у нас продаются смазки. Они нужны, чтобы механизм изделия
                работал плавно и меньше изнашивался. 
                Спидкуберы могут присмотреть таймеры и маты для сборки на время. 
            </p>
            <p>
                Наш интернет магазин головоломок — отличное место для выбора универсального, 
                полезного и интересного подарка. Ломаете голову над выбором презента для ребенка, 
                коллеги или друга? Выбирайте кубик Рубика. Эта штуковина поможет улучшить 
                когнитивные способности, убить время в очереди или пробке и, чего 
                греха таить, стать чуточку умнее в глазах окружающих. 
            </p>
            <p>
                Покупайте шарнирные головоломки по лучшей цене в онлайн-магазине
                Кубомаркет. Делайте заказ в любое время суток, 
                выбирайте доставку курьером или забирайте посылку 
                в ближайшем пункте выдачи.
            </p>
        </div>
    </div>
{% endblock actions %}

{% block modal %}
    {{ super() }}
    <transition name="fade-fast">
        <subscribe-modal
            v-if="subscribeModalIsActive"
        >
        </subscribe-modal>
    </transition>
{% endblock modal %}

{% block script %}
    {{ super() }}
    <script src="{{ static('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ static('js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?159"></script>
    <script src="{{ static('js/indexPage.js') }}"></script>
{% endblock script %}
