.cart {
    margin-bottom: 80px;
}

.cart__title {
    text-align: center;
    @include mq($from: desktop) {
        text-align: left;
    }
}

.cart__content {
    width: 100%;
    @include mq($from: wide) {
        display: flex;
        justify-content: space-between;
    }
}

.cart__items-wrap {
    width: 100%;
    padding-bottom: 30px;
    border: 2px solid $border;
    @include mq($from: wide) {
        width: 555px;
    }
}

.cart__delivery-wrap {
    width: 100%;
    border: 2px solid $border;
    margin-top: 20px;
    @include mq($from: wide) {
        width: 555px;
        margin: 0px;
    }
}

.cart__title-area {
    display: flex;
    padding: 0px 20px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.cart__subtitle {
    @include bold();
}

.cart__items-clear {
    color: $red;
    font-size: 12px;
    border-bottom: 2px dotted $red;
    cursor: pointer;
    user-select: none;
    &:hover {
        color: lighten($red, 15)
    }
}

.cart__items {
    padding: 0px 15px;
}

.cart__personal-info {
    border-top: 1px solid $border;
    padding: 0px 0px 15px 0px;
}

.cart__delivery-content {
    padding: 15px;
}

.cart__personal-info-title {
    height: 50px;
    padding: 0px 5px;
    line-height: 50px;
}

.cart__form {
    @include mq($from: tablet) {
        display: flex;
        justify-content: space-between;
    }
}

.cart__form-input-box {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    @include mq($from: tablet) {
        width: 32%;
    }
}

.cart__submit-wrap {
    width: 100%;
}

.cart__submit-button {
    height: 50px;
    width: 250px;
    border-radius: 25px;
    background: $blue;
    font-size: 14px;
    color: white;
    margin: 0 auto;
    justify-content: center;
    cursor: pointer;
    transition: color, background, .2s;
    &:hover {
        background: darken($blue, 5);
    }
}

.cart__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 15px;
    border-top: 1px solid $border;
    @include mq($from: tablet) {
        padding: 0px 58px 0px 15px;
    }
}

.cart__summary-price {
    font-size: 24px;
}

.cart__delivery-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mq($from: tablet) {
        flex-direction: row;
    }
}

.cart__delivery-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    margin-bottom: 15px;
    padding: 0px 8px;
    color: $text-grey_dark;
    font-size: 14px;
    user-select: none;
    border: 2px solid $border;
    border-radius: 20px;
    cursor: pointer;
    transition: border .2s;
    &:hover {
        background: $border;
    }
    @include mq($from: tablet) {
        width: 31%;
        justify-content: center;
        margin: 0px;
    }
}

.cart__deliveryMenuItem_active {
    background: $border;
    cursor: default;
}

.cart__delivery-menu {
    border-top: 1px solid $border;
}

.cart__city-choice {
    padding: 15px 5px;
    font-size: 14px;
    color: $text-grey_dark;
}

.cart__city-choice-icon {
    font-size: 12px;
}

.cart__city-choice-title {
    @include mq($from: tablet) {
        float: left;
    }
}

.cart__city-choice-link {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include mq($from: tablet) {
        float: left;
        margin-left: 10px;
    }
}

.cart__delivery-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.cart__selected-point-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.cart__change-point-link {
    margin-left: 10px;
}

.cart__change-point-link_single {
    margin: 0px 0px 20px 0px;
    font-size: 14px;
}

.cart__address-form {
    padding: 15px 15px;
}

.cart__address-input {
    height: 40px;
}

.cart__address-input-box {
    margin-bottom: 15px;
}

.cart__address-text {
    min-height: 120px;
}

.cart__selected-point {
    padding: 20px 0px;
}

.cart__selected-point-address {
    margin-bottom: 8px;
}

.cart__selected-point-price {
    margin-bottom: 15px;
}