.button_round {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    font-size: 22px;
    color: $text-black;
    border-radius: 22px;
    overflow: hidden;
    cursor: pointer;
    transition-property: background;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier();
    &:hover {
        background: rgba(0,0,0,0.1);
    }
}