.button_round {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    font-size: 22px;
    color: $text-black;
    border-radius: 22px;
    overflow: hidden;
    cursor: pointer;
    transition-property: background;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier();
    &:hover {
        background: rgba(0,0,0,0.1);
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0px 16px;
    border-radius: 22px;
    user-select: none;
    cursor: pointer;
    @include bold();
}

.button_ghost {
    color: #11aff1;
    background: $white;
    border: 2px solid #f8f8f7;
    transition: color, border-color, .2s;
    &:hover {
        color: $white;
        background: #11aff1;
        border-color: $blue;
    }
}