.catalog {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 32px;
    @include mq($from: desktop) {
        flex-direction: row;
    }
}

.catalog_search {
    flex-direction: column;
}

.catalog__gallery {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 290px;
    @include mq($from: mobile) {
        width: 100%;
    }
    &:after {
        content: '';
        display: block;
        margin-left: 294px;
    }
    @include mq($from: wide) {
        &:after {
            margin-left: 264px;
        }
    }
}

.catalog__left {
    display: block;
    @include mq($from: desktop) {
        display: block;
        margin-right: 30px;
    }
    @include mq($from: desktop, $until: wide) {
        width: 294px;
    }
    @include mq($from: wide) {
        width: 264px;
    }
}

.catalog__right {
    width: 100%;
    margin: 0 auto;
    @include mq($from: desktop, $until: wide) {
        width: 616px;
    }
    @include mq($from: wide) {
        width: 846px;
    }
}

.catalog__item {
    height: 440px;
    width: 290px;
    margin-bottom: 8px;
    @include mq($from: mobile, $until: wide) {
        width: 49%;
    }
    @include mq($from: wide) {
        width: 262px;
    }
}

.catalog__nav {
    display: none;
    width: 100%;
    background: #fbfbfa;
    @include mq($from: desktop) {
        display: block;
    }
}

.catalog__nav-item-content {
    display: flex;
    height: 50px;
    padding: 0px 16px 0px 16px;
    justify-content: space-between;
    cursor: pointer;
    line-height: 50px;
    font-size: 14px;
    user-select: none;
    color: $text-black;
    border-top: 1px solid #ebf2ee;
    transition-duration: .2s;
    transition-property: border-top, background, color, border-color;
    &:hover {
        color: $white;
        background: $green;
        border-color: $green;
    }
}

.catalog__navItemContent_active {
    color: $white;
    background: $green;
    border-color: $green;
}

.catalog__nav-list {
    display: none;
    padding: 8px 16px 16px 32px;
}

.catalog__navList_active {
    display: block;
}

.catalog__nav-list-item {
    overflow: hidden;
    line-height: 30px;
    height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.catalog__nav-list-item-link {
    color: #787878;
    &:hover {
        color: $green;
        text-decoration: underline;
    }
}

/// filters START
.filters {
    position: relative;
}
.filters__button {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: $creme;
    transition: .2s;
    cursor: pointer;
    &:hover {
        background: $border;
    }
    @include mq($from: desktop) {
        display: none;
    }
}
.filters__button_active {
    background: $border;
}
.filters__icon {
    font-size: 14px;
    margin: 0px 0px -4px 6px;
}
.filters__list_inactive {
    display: none;
}
.filters__list {
    @include mq($from: desktop) {
        display: block;
    }
}
.filters__list_active {
    display: block !important;
}
/// filters END

// filter-item START
.filter-item {
    padding: 12px;
    background: $creme;
    margin-bottom: 16px;
}
.filter-item__title {
    margin-bottom: 16px;
}
// filter-item END

.catalog__price-input {
    height: 40px;
    width: 45%;
    text-align: center;
}

.catalog__price-inputs {
    display: flex;
    justify-content: space-between;
}

.catalog__price-slider {
    margin-top: 15px;
}

.catalog__price-filter {
    height: 138px;
    opacity: 0;
    will-change: opacity;
    transition-property: opacity;
    transition-duration: .2s;
}

.catalog__priceFilter_active {
    opacity: 1;
}

.vue-slider {
    cursor: pointer !important;
    border-radius: 0px !important;
}

.vue-slider-process {
    background-color: $yellow !important;
}

.vue-slider-dot {
    border: 6px solid $green !important;
}

.catalog__placeholder-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.catalog__placeholder {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
}

.catalog__placeholder-img {
    margin-bottom: 16px;
}

.catalog__placeholder-text {
    line-height: 1.8;
    color: $text-grey;
    text-align: center;
}