.catalog {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 32px;
    @include mq($from: desktop) {
        flex-direction: row;
    }
}

.catalog_search {
    flex-direction: column;
}

.catalog__gallery {
    // flex-wrap: wrap;
    // flex-direction: row;
    // display: flex;
    // justify-content: space-between;
    // margin: 0 auto;
    // width: 290px;
    // @include mq($from: mobile) {
    //     width: 100%;
    // }
    // &:after {
    //     content: '';
    //     display: block;
    //     margin-left: 294px;
    // }
    // @include mq($from: wide) {
    //     &:after {
    //         margin-left: 264px;
    //     }
    // }
}

.catalog__gallery {
    width: 290px;
    padding-top: 16px;
    margin: 0 auto;
    @include mq($from: mobile) {
        margin-left: -8px;
        width: 100%;
    }
    @include mq($from: desktop) {
        margin-left: -8px;
    }
}

.gallery {
    // flex-wrap: wrap;
    // flex-direction: row;
    // display: flex;
    // justify-content: space-between;
    // margin: 0 auto;
}

.gallery_search {
    &:after {
        content: '';
        display: block;
        margin-left: 294px;
    }
    @include mq($from: wide) {
        &:after {
            margin-left: 550px;
        }
    }
}

.catalog__left {
    display: block;
    @include mq($from: desktop) {
        display: block;
        margin-right: 30px;
    }
    @include mq($from: desktop, $until: wide) {
        width: 294px;
    }
    @include mq($from: wide) {
        width: 264px;
    }
}

.catalog__right {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    @include mq($from: desktop, $until: wide) {
        width: 616px;
    }
    @include mq($from: wide) {
        width: 846px;
    }
}

.catalog__item {
    float: left;
    height: 440px;
    width: 290px;
    margin-bottom: 8px;
    @include mq($from: mobile) {
        margin-left: 8px;
    }
    @include mq($from: desktop) {
        margin-left: 8x;
    }
    @include mq($from: mobile, $until: wide) {
        width: 48%;
    }
    @include mq($from: wide) {
        width: 262px;
        margin-left: 16px;
    }
}

.catalog__nav {
    display: none;
    width: 100%;
    background: #fbfbfa;
    @include mq($from: desktop) {
        display: block;
    }
}

.catalog__nav-item-content {
    display: flex;
    height: 50px;
    padding: 0px 16px 0px 16px;
    justify-content: space-between;
    cursor: pointer;
    line-height: 50px;
    font-size: 14px;
    user-select: none;
    color: $text-black;
    border-top: 1px solid #ebf2ee;
    transition-duration: .2s;
    transition-property: border-top, background, color, border-color;
    &:hover {
        color: $white;
        background: $green;
        border-color: $green;
    }
}

.catalog__navItemContent_active {
    color: $white;
    background: $green;
    border-color: $green;
}

.catalog__nav-list {
    display: none;
    padding: 8px 16px 16px 32px;
}

.catalog__navList_active {
    display: block;
}

.catalog__nav-list-item {
    overflow: hidden;
    line-height: 30px;
    height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.catalog__nav-list-item-link {
    color: #787878;
    &:hover {
        color: $green;
        text-decoration: underline;
    }
}

/// filters START
.filters__facetes {
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 16px;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    border-bottom: 2px solid $border;
    z-index: 1000;
    @include mq($from: desktop) {
        position: absolute;
        display: flex;
        top: 50px;
        left: 320px;
        width: 614px;
    }
    @include mq($from: wide) {
        width: 844px;
        left: 293px;
    }
}

.filters {
    position: relative;
}

.filters__button {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: $creme;
    transition: .2s;
    cursor: pointer;
    &:hover {
        background: $border;
    }
    @include mq($from: desktop) {
        display: none;
    }
}
.filters__button_active {
    background: $border;
}
.filters__icon {
    font-size: 14px;
    margin: 0px 0px -4px 6px;
}
.filters__list_inactive {
    display: none;
}
.filters__list {
    @include mq($from: desktop) {
        display: block;
    }
}
.filters__list_active {
    display: block !important;
}
/// filters END

// filter-item START
.filter-item {
    width: 100%;
    @include mq($from: desktop) {
        width: auto;
    }
}

.filter-item__wrap {
    display: flex;
    position: relative;
    height: 38px;
    padding: 8px 8px 8px 8px;
}

.filter-item__title {
    margin-bottom: 16px;
}

.filter-item__dropdown {
    display: flex;
    top: 35px;
    max-height: 350px;
    width: 270px;;
    position: absolute;
    z-index: 1000;
    background: $white;
    background-clip: padding-box;
    cursor: default;
    @include mq($from: desktop) {
        width: 320px;
    }
}

.filter-item__values-list {
    max-height: 270px;
    padding: 0px 12px 32px 12px;
    margin-right: 4px;
}

.filter-item__active-count {
    display: flex;
    margin-left: 4px;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    border-radius: 11px;
    background: $green;
    color:white
}

.filter-item__value {
    display: flex;
    padding: 4px 0px;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    color: #707c84
}

.filterItem__valuesList_scrollable {
    overflow-y: scroll;
}

.filter-item__controls {
    display: flex;
    height: 56px;
    width: 100%;
    color: white;
    user-select: none;
}

.filter-item__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background: $green;
    cursor: pointer;
    user-select: none;
    transition-duration: .2s; 
    transition-property: background;
    transition-timing-function: cubic-bezier;
    &:hover {
        background: lighten($green, 5);
    }
}

.filter-item__loader {
    height: 128px;
    width: 128px;
    background-size: 100%;
    background-image: url("../img/icon/loading.svg")
}

.filter-item__submit_half {
    width: 50% !important
}

.filter-item__clear{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $creme;
    color: $text-black;
    cursor: pointer;
    transition-duration: .2s;
    transition-property: background;
    transition-timing-function: cubic-bezier;
    &:hover {
        background: darken($creme, 5);
    }
}

.filter-item__dropdown:after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,0.3); right:0; left:0;
    z-index: 900;
}

.filter-item__dropdown-content {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10000;
    box-shadow: 0 9px 15px 0 rgba(0,0,0,0.15);
    background: white;
}

.filter-item__btn {
    display: flex;
    height: 22px;
    padding-top: 2px;
    width: 100%;
    cursor: pointer;
    user-select: none !important;
    justify-content: space-between;
}

.filter-item__btn-content {
    &:after {
        content: $icon-chevron-down;
        font-family: 'Icons';
        height: 12px;
        width: 12px;
        font-size: 12px;
        margin-left: 2px;
        color: $text-grey;
    }
}

.filter-item__search-box {
    position: relative;
    height: 50px;
    padding: 6px 12px 8px 12px
}

.filter-item__search-input {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid $border;
    transition-duration: .2s;
    transition-property: border;
    transition-timing-function: cubic-bezier()
}

.filter-item__search-icon{
    position: absolute;
    height: 14px;
    width: 14px;
    top: 14px;
    right: 14px;
}

.filter-item__checkbox-label {
    max-width: 200px;
}

.filter-item__response-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    width: 100%;
}
// filter-item END

.catalog__price-input {
    height: 40px;
    width: 45%;
    text-align: center;
}

.catalog__price-inputs {
    display: flex;
    justify-content: space-between;
}

.catalog__price-slider {
    margin-top: 15px;
}

.catalog__price-filter {
    padding: 12px;
    background: $creme;
    margin-bottom: 16px;
    height: 138px;
    opacity: 0;
    will-change: opacity;
    transition-property: opacity;
    transition-duration: .2s;
}

.catalog__priceFilter_active {
    opacity: 1;
}

.vue-slider {
    cursor: pointer !important;
    border-radius: 0px !important;
}

.vue-slider-process {
    background-color: $yellow !important;
}

.vue-slider-dot {
    border: 6px solid $green !important;
}

.catalog__placeholder-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.catalog__placeholder {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
}

.catalog__placeholder-img {
    margin-bottom: 16px;
}

.catalog__placeholder-text {
    line-height: 1.8;
    color: $text-grey;
    text-align: center;
}

.catalog-count {
    display: block;
    height: 43px;
    line-height: 43px;
    font-size: 2em;
    float: left;
    width: 100%;
    text-align: center;
    @include mq($from: mobile) {
        width: auto;
    }
}