{#
Блок хлебных крошек
ожидает параметры:
* breadcrumbs: [(name1,url1),(name2,url2)]
* view: название вьюхи - 'catalog:watches:view'
* last_crumb: str - неактивная крошка, текущая 
#}

<div class="breadcrumbs">
    <div class="content-area_mb">
    <div class="breadcrumbs__wrapper">
        <a class="link breadcrumbs__item breadcrumbs__item_first" href="/">Главная</a>
        {% if breadcrumbs %}
            <span class="breadcrumbs__delimeter breadcrumbs__delimeter_first">—</span>
            {% if view %}
                {% for crumb in breadcrumbs %}
                    <a class="link breadcrumbs__item" href="{{ url(view, args=[crumb.url]) }}">{{ crumb.title }}</a>
                    {% if loop.index != loop.length %}
                    <span class="breadcrumbs__delimeter">—</span>
                    {% endif %}
                {% endfor %}
            {% else %}
               {% for crumb in breadcrumbs %}
                    <a class="link breadcrumbs__item" href="/{{ crumb.url }}">{{ crumb.title }}</a>
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if last_crumb %}
            <span class="breadcrumbs__delimeter breadcrumbs__delimeter_last">—</span>
            <a class="link link_disabled breadcrumbs__item breadcrumbs__item_last">{{ last_crumb }}</a>
        {% endif %}
    </div>
    </div>
</div>