{% extends 'base.html' %}


{% block content %}

{% with last_crumb='Акции' %}
    {% include 'blocks/breadcrumbs.html' %}
{% endwith %}

<div class="cashback infopage infopage_text">


    <div class="content-area_mb">
        <div class="infopage__content_upper cashback__reviews-headline">
            <h1 class="title title_catalog">
                Акции и скидки
            </h1>
            <p class="grey">
                Наш магазин постоянно проводит конкурсы, розыгрыши и акции,
                в которых вы можете выиграть лучшие головоломки, а также получить
                скидки и сертификаты на следующие покупки. Участвовать в них довольно просто,
                поэтому абсолютно каждый может получить приятный бонус от нас!
            </p>
        </div>
    </div>

    <div class="content-area_mb">
        <h2 class="cashback__subtitle">БОНУСЫ ЗА ОТЗЫВЫ</h2>
    </div>

    <div class="content-area_mb cashback__reviews">

        <div class="layer layer_2">
        </div>

        <div class="layer layer_1">
        </div>



        <div class="cashback__emerald-wrap">
            <div class="cashback__emerald">
                <div class="cashback__reviews-top">
                    <div class="cashback__value cashback__value_numerical">
                        300
                    </div>
                    <div class="label_yellow">
                        рублей за отзыв
                    </div>
                </div>
                <div class="cashback__reviews-mid">
                    <div class="cashback__value">
                        <i class="cashback__ym icon icon_yandex-logo-text">
                        </i>
                    </div>
                    <div class="label_yellow">
                        Маркет
                    </div>
                </div>
                <div class="cashback__rewievs-bottom">
                    Напишите отзыв на <span class="highlight_yellow">Яндекс.Маркет</span> — мы вернём Вам
                    на телефон 300 рублей
                </div>
            </div>
            <div class="cashback__uchilka">
            </div>
        </div>
    </div>

    <div class="content-area_mb content-area_mb-column">
        <div class="cashback__reviews-list_wrap">
            <h3 class="cashback__subtitle-2">Как правильно написать отзыв?</h3>
            <ul class="list list_yellow cashback__reviews-list">
                <li class="grey-dark">
                    Перейдите по <a class="link link_green link_underscored" href="https://market.yandex.ru/shop/485495/reviews/add">данной ссылке</a>
                    на Яндекс.Маркет
                </li>
                <li class="grey-dark">
                    Напишите отзыв о нашей работе, указав в нём достоинства и недостатки нашего магазина,
                    название купленного товара;
                </li>
                <li class="grey-dark">
                    Не забудьте в "теле" отзыва написать номер заказа и дату покупки
                    (номер заказа = номер товарного чека).
                </li>
            </ul>
        </div>
        <div class="cashback__reviews-content">
            <div class="cashback__round-emerald-wrap cashback__round-emerald-wrap-1">
                <div class="round-emerald">
                    <div class="round-emerald__top">
                        1<span class="yellow-light">=</span>1
                    </div>
                    <div class="round-emerald__text">
                        1 бонус = 1 рубль при оформлении заказа
                    </div>
                </div>
                <div class="cashback__reviews-emerald-caption">
                    Оставляйте отзывы о магазине, оценивайте товары
                    в каталоге и получайте 1 бонус за каждый отзыв
                </div>
            </div>
            <div class="cashback__reviews-text">
                <p class="bold green">
                В течение 7 дней после того, как отзыв успешно пройдёт модерацию, мы
                пополним абонентский счёт телефона, указанный при заказе, 200 рублей. Если вы хотите,
                чтобы мы пополнили другой номер, обязательно позвоните и сообщите об этом нашему менеджеру.
                </p>
                <p class="cashback__caption-hidden">
                Оставляйте отзывы о магазине, оценивайте товары в каталоге и
                получайте 1 бонус за каждый отзыв.
                </p>
                <p class="grey">
                * Для того чтобы оставить отзыв на Яндекс.Маркет, необязательно
                иметь почту на Яндексе - Вы можете авторизоваться с помощью своего
                аккаунта в социальных сетях. Отзыв можно оставить анонимно.
                </p>
            </div>
        </div>
    </div>

    <div class="cashback__wrap-grey">
        <div class="cashback__unboxing">

            <div class="content-area_mb content-area_mb-column">
                <h2 class="cashback__subtitle">БОНУСЫ ЗА АНБОКСИНГ</h2>
                <p class="grey">
                    Получайте бонусы и призы за видео распаковок ваших заказов.
                </p>
            </div>

            <div class="cashback__unboxing-content">

                <div class="content-area_mb cashback__unboxing-images_wrap">
                    <div class="cashback__unboxing-images">
                        <div class="cashback__unboxing-video">
                            <div class="cashback__unboxing-video-play icon_play">
                            </div>
                        </div>

                        <div class="cashback__round-emerald-wrap cashback__round-emerald-wrap-2">
                            <div class="round-emerald">
                                <div class="round-emerald__top">
                                    300
                                </div>
                                <div class="round-emerald__mid bold yellow-light">
                                    рублей
                                </div>
                                <div class="round-emerald__text">
                                    За загруженную на YouTube распаковку заказа с нашего сайта
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-area_mb content-area_mb-column cashback__unboxing-list-wrap">

                    <h3 class="cashback__subtitle-2">Как оформить видео?</h3>
                    <ul class="list list_yellow">
                        <li class="grey-dark">
                            На видео должен быть показан момент распаковки
                        </li>
                        <li class="grey-dark">
                            Старайтесь снять видео хорошего качества. Оно должно быть снято не
                            вертикально.
                        </li>
                        <li class="grey-dark">
                            Необходимо не только показать товар, но и протестировать его и
                            поделиться впечатлениями
                        </li>
                        <li class="grey-dark">
                            Видео должно быть загружено на YouTube в свободном доступе и на
                            стену нашей группы ВК —
                            <a class="link link_green link_underscored" href="https://vk.com/kubomarketru">vk.com/kubomarketru</a>
                            с указанием номера вашего заказа и хештегов
                            <a class="link link_green link_underscored">#анбоксинг</a>
                            <a class="link link_green link_underscored">#kubomarket</a>
                        </li>
                        <li class="grey-dark">
                            Название должно начинатся с "Анбоксинг с Kubomarket.Ru - ..."
                            Вместо троеточия вставьте все товары из заказа
                        </li>
                        <li class="grey-dark">
                            В описании видео укажите ссылки на сайт kubomarket.ru, нашу группу ВК
                            <a class="link link_green link_underscored" href="https://vk.com/kubomarketru">vk.com/kubomarketru</a>,
                            <a class="link link_green link_underscored" href="https://www.youtube.com/channel/UCK0U1Kcy1XJbf-vruFXMiHA">наш ютуб канал</a>,
                            а также ссылки на все товары из заказа
                        </li>
                        
                    </ul>

                </div>

            </div>

        </div>
    </div>

    <div class="cashback__instagram">
        <div class="content-area_mb content-area_mb-column">
            <h2 class="cashback__subtitle">
                500 РУБЛЕЙ ЗА ФОТО
            </h2>
            <div class="cashback__instagram-content">
                <div class="cashback__instagram-image-wrap">
                    <div class="cahsback__instagram-image">
                    </div>
                </div>
                <div class="cashback__instagram-text">
                    <p class="grey-dark">
                        Выложите фото или видео с кубиком Рубика в своём аккаунте
                        Instagram с упоминанием <a class="link link_green link_underscored">@kubomarket.ru</a>
                        и хештегом <a class="lnik link_green link_underscored">#kubomarket</a> и подпишитесь
                        на <a class="link link_green link_underscored" href="https://www.instagram.com/kubomarketru/">нас</a>!
                    </p>
                    <p class="grey-dark">
                        Никаких ограничений нет! Всё зависит только от вашего творчества!
                    </p>
                    <p class="grey-dark">
                        И если мы волжим вашу публикацию на 
                        <a class="link link_green link_underscored bold" href="https://www.instagram.com/kubomarketru/">на нашу страницу</a> —
                        вы получите сертификат на 500 рублей на покупки в нашем магазине <a class="link link_green link_underscored">kubomarket.ru</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="cashback__vk">
        <div class="content-area_mb content-area_mb-column">
            <div class="cashback__vk-headline">
                <h2 class="cashback__subtitle">
                    РОЗЫГРЫШИ ВКОНТАКТЕ
                </h2>
                <p class="grey-dark">
                    Регулярно в нашей группе ВК проходит розыгрыши самых
                    крутых и интересных головоломок!
                </p>
            </div>
            <div class="cashback__vk-content">
                <div class="cashback__vk-image-wrap">
                    <div class="cashback__vk-image">
                    </div>
                </div>
                <div class="cashback__vk-list-wrap">
                    <h3 class="cashback__subtitle-2">
                        Не упусти свой шанс поучаствовать. Для этого
                        нужно лишь:
                    </h3>
                    <ul class="list list_yellow">
                        <li class="grey-dark">
                            Вступить в группу <a class="link link_green link_underscored" href="https://vk.com/kubomarketru">kubomarket.ru</a>
                        </li>
                        <li class="grey-dark">
                            Сделать репост записи розыгрыша
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content-area_mb cashback__cubes-footer-wrap">
        <div class="cashback__cubes-footer">
        </div>
    </div>

</div>

{% endblock content %}

{% block actions %}
{% endblock actions %}

{% block script %}
    {{ super() }}
    <script src="{{ static('js/indexPage.js') }}">
    </script>
{% endblock script%}
