{% extends 'base.html' %}


{% block content %}

{% with last_crumb='Контакты' %}
    {% include 'blocks/breadcrumbs.html' %}
{% endwith %}

<div class="content-area_mb">
    <h1 class="title">Контакты</h1>
</div>

<div class="content-area_mb">
    <div class="infopage__content">

        <div class="infopage__block">
            <p class="bold">Заказы на сайте принимаются круглосуточно</p>
            <p>
                Также вы можете связаться с нашими менеджерами ежедневно с 10:00 до 20:00 по телефонам:
            </p>
            <p class="bold">
                8 (495) 409-6238<br>
                8 (800) 301-2448         
            </p>
        </div>

        <div class="infopage__block">
            <p class="bold">Центральный офис в Москве:</p>
            <p><i class="icon icon_block icon_metro infopage__metro-icon"></i>Кожуховская, ул. Южнопортовая 5с1</p>
            <p>Телефон:   <a class="link link_blue" href="tel:84954096238">8 (495) 409-6238</a></p>
            <p>
                <div class="infopage__map" id="js-contacts__map">
                </div>
            </p>
        </div>



        <div class="infopage__block">
            <p class="bold">
                Юридическая информация
            </p>
            <table class="infopage__table">
                    <tr>
                        <td>
                        Полное наименование
                        </td>
                        <td>
                        Общество с ограниченной ответственностью «МАЕДА ВОТЧ ГРУПП РУС»
                        </td>
                    </tr>
                    <tr>
                        <td>
                        ИНН
                        </td>
                        <td>
                        7728322052
                        </td>
                    </tr>
                    <tr>
                        <td>
                        ОГРН
                        </td>
                        <td>
                        5157746067892
                        </td>
                    </tr>
                    <tr>
                        <td>
                        Адрес (место нахождения)
                        </td>
                        <td>
                        117342, город Москва, улица Введенского, дом 23а стр. 3. эт.4, пом. XIV .ком.62
                        </td>
                    </tr>
                </table>
        </div>

    </div>
</div>

{% endblock content %}

{% block script %}
    {{ super() }}
    <script src="{{ static('js/indexPage.js') }}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<script type="text/javascript">
    var myMap;

    function zzinit(){     
        myMap = new ymaps.Map("js-contacts__map", {
            center: [55.707618, 37.688467],
            zoom: 16,
            controls: ['zoomControl']
        });

        myPlacemark = new ymaps.Placemark([55.707618, 37.688467], { 
            hintContent: 'м. Кожуховская, ул. Южнопортовая 5с1, Москва, Россия', 
            balloonContent: 'м. Кожуховская, ул. Южнопортовая 5с1, Москва, Россия',
            preset: 'islands#greenDotIconWithCaption', 
        });

        myMap.geoObjects.add(myPlacemark);
    }

    ymaps.ready(zzinit);

	</script>
{% endblock script%}