{% extends 'base.html' %}


{% block meta_title %}О доставке | Магазин головоломок Kubomarket.Ru{% endblock %}

{% block open_graph %}
<meta property="og:type"             content="website"/>
<meta property="vk:title"            content="О доставке | Магазин головоломок Kubomarket.Ru"/>
<meta property="og:site_name"        content="Интернет-магазин KUBOMARKET"/>
<meta property="og:title"            content="О доставке | Магазин головоломок Kubomarket.Ru"/>
<meta property="og:description"      content="У нас вы можете купить кубик Рубика от 350 рублей. Оплата при получении. Доставка по всей России - от 1 до 7 дней."/>
<meta property="og:locale "          content="ru_RU"/>
<meta property="og:url" content="https://www.kubomarket.ru" />
{% endblock open_graph %}

{% block content %}

{% with last_crumb='Доставка' %}
    {% include 'blocks/breadcrumbs.html' %}
{% endwith %}

<div class="infopage infopage_delivery" id="delivery">

    <div class="content-area_mb">
        <div class="infopage__block">
            <h1 class="title delivery-page__title">Доставка</h1>
            <p class="grey text-justify">Узнайте о преимуществах каждого способа доставки и выберите самый удачный</p>
        </div>
    </div>

    <div class="city-choice">
        <div class="content-area_mb">
            <div class="city-choice__content"
                :class="{ cityChoice__content_ready : isGeoDataInited }"
            >
                <div class="city-choice__top">
                    <div class="city-choice__title">
                        Доставка в городе
                    </div>
                    <div class="city-choice__link-wrap">
                        <a class="link_city infopage__city-link"
                            @click="showCityChoiceModal"
                        >
                            {% raw %}
                            {{cityName}}
                            {% endraw %}
                            <i class="icon icon_chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="city-choice__buttons" v-if="!cityConfirmed">
                    <div class="button button_bg button_oval green city-choice__button"
                        @click="confirmCity"
                    >
                        Да
                    </div>
                    <div class="button button_bg button_oval red city-choice__button"
                        @click="showCityChoiceModal"
                    >
                        Нет
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="city-choice__buttons" v-else>
                    <div class="button button_bg button_oval green city-choice__button"
                        @click="changeCity"
                    >
                        Изменить
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="delivery-page__info">
        <div class="content-area_mb">
            <div class="delivery-page__menu tabs">
                <div class="tabs__item"
                    @click="currentTab = 0"
                    :class="{ 'tabs__item_active' : currentTab === 0 }"
                >
                    <i class="tabs__icon icon icon_delivery-courier-png"></i>
                    Курьером
                </div>
                <div class="tabs__item"
                    @click="currentTab = 1"
                    :class="{ 'tabs__item_active' : currentTab === 1 }"
                >
                    <i class="tabs__icon icon icon_delivery-point"></i>
                    Пункты выдачи
                </div>
                <div class="tabs__item"
                    @click="currentTab = 2"
                    :class="{ 'tabs__item_active' : currentTab === 2 }"
                >
                    <i class="tabs__icon icon icon_delivery-mail"></i>
                    Почтой России
                </div>
            </div>
        </div>

        {% raw %}
        <div class="delivery-page__outlet"
            :class="{ deliveryPage__outlet_ready : ready }"
        >

            <div v-if="currentTab === 0">
                <transition name="fade-fast" v-if="isCurierAvailable">
                <div>
                    <div class="content-area_mb">
                        <div class="delivery-page__info-columns">
                            <div class="delivery-page__info-column">
                                <div class="delivery-page__info-column-title">
                                    Тип доставки
                                </div>
                                <div class="delivery-page__info-column-content">
                                    Курьером:
                                    <span class="price">
                                    {{ priceCurier | priceFilter }}
                                    </span>
                                </div>
                            </div>
                            <div class="delivery-page__info-column">
                                <div class="delivery-page__info-column-title">
                                    Срок доставки
                                </div>
                                <div class="delivery-page__info-column-content">
                                    {{ timeCurier | timeFilter }}
                                </div>
                            </div>
                            <div class="delivery-page__info-column">
                                <div class="delivery-page__info-column-title">
                                    Осмотр перед оплатой
                                </div>
                                <div class="delivery-page__info-column-content">
                                Есть
                                </div>
                            </div>
                            <div class="delivery-page__info-column">
                                <div class="delivery-page__info-column-title">
                                    Оплата
                                </div>
                                <div class="delivery-page__info-column-content">
                                    Наличными или банковской картой
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </transition>
                <transition name="fade" v-else>
                <div class="content-area_mb">
                    Доставка курьером по городу {{cityName}} недоступна
                </div>
                </transition>
            </div>

            <div v-if="showMap">

                <div class="content-area_mb">
                    <div class="delivery-page__info-columns">
                        <div class="delivery-page__info-column">
                            <div class="delivery-page__info-column-title">
                                Тип доставки
                            </div>
                            <div class="delivery-page__info-column-content delivery-page__info-column-content_fixed delivery-page__info-column-content_icon">
                                Пункты выдачи СДЭК
                                <i class="icon delivery-page__info-icon icon icon_cdek"></i>
                            </div>
                            <div class="delivery-page__info-column-content delivery-page__info-column-content_fixed delivery-page__info-column-content_icon">
                                Постаматы PickPoint
                                <i class="icon delivery-page__info-icon icon icon_pickpoint"></i>
                            </div>
                        </div>
                        <div class="delivery-page__info-column">
                            <div class="delivery-page__info-column-title">
                                Срок доставки
                            </div>
                            <div class="delivery-page__info-column-content delivery-page__info-column-content_fixed">
                                {{timeDeliveryPoint | timeFilter}}
                            </div>
                            <div class="delivery-page__info-column-content delivery-page__info-column-content_fixed">
                                {{timeDeliveryPoint | timeFilter}}
                            </div>
                        </div>
                        <div class="delivery-page__info-column">
                            <div class="delivery-page__info-column-title">
                                Осмотр перед оплатой
                            </div>
                            <div class="delivery-page__info-column-content delivery-page__info-column-content_fixed">
                            Есть
                            </div>
                            <div class="delivery-page__info-column-content delivery-page__info-column-content_fixed">
                            Отсутствует
                            </div>
                        </div>
                        <div class="delivery-page__info-column">
                            <div class="delivery-page__info-column-title">
                                Оплата
                            </div>
                            <div class="delivery-page__info-column-content delivery-page__info-column-content_fixed">
                                Наличными или банковской картой
                            </div>
                            <div class="delivery-page__info-column-content delivery-page__info-column-content_fixed">
                                Наличными или банковской картой
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-area_mb">
                    <span class="grey caption">*Указаны пункты выдачи для города: {{cityName}}</span>
                </div>
                <div class="delivery-page__map"
                >
                    <yandex-map 
                        id="map" 
                        :id-value="'map'"
                        :points="deliveryPointsList"
                        :selected-point-code="selectedPointCode"
                        :cityName="cityName"
                        v-on:ready="mapReady"
                        v-if="mapIsAvailable"
                        @pointSelected="pointSelected"
                    >
                    </yandex-map>
                    <transition name="fade-fast" v-else>
                    <div class="placeholder"
                    >
                        <img class="placeholder__image" src="/static/img/icon/loading.svg">
                    </div>
                    </transition>
                </div>
            </div>

            <div v-if="currentTab === 2">
                <transition name="fade-fast" v-if="isPostalServiceAvailable">
                <div>
                    <div class="content-area_mb">
                        <div class="delivery-page__info-columns">
                            <div class="delivery-page__info-column">
                                <div class="delivery-page__info-column-title">
                                    Тип доставки
                                </div>
                                <div class="delivery-page__info-column-content">
                                    Почтой:
                                    <span class="price">
                                    {{ pricePostalService | priceFilter }}
                                    </span>
                                </div>
                            </div>
                            <div class="delivery-page__info-column">
                                <div class="delivery-page__info-column-title">
                                    Срок доставки
                                </div>
                                <div class="delivery-page__info-column-content">
                                {{ timePostalService | timeFilter }}
                                </div>
                            </div>
                            <div class="delivery-page__info-column">
                                <div class="delivery-page__info-column-title">
                                    Осмотр перед оплатой
                                </div>
                                <div class="delivery-page__info-column-content">
                                Отсутствует
                                </div>
                            </div>
                            <div class="delivery-page__info-column">
                                <div class="delivery-page__info-column-title">
                                    Оплата
                                </div>
                                <div class="delivery-page__info-column-content">
                                    Только наличными
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </transition>
                <transition name="fade" v-else>
                <div class="content-area_mb">
                    Доставка курьером по городу {{cityName}} недоступна
                </div>
                </transition>
            </div>       

        </div>
        {% endraw %}
    </div>

    <div class="delivery-advantages">
        <div class="content-area_mb">
            <div class="delivery-advantages__content">
                <h2 class="delivery-advantages__title">
                    Преимущества доставки
                </h2>
                <div class="delivery-advantages__columns">
                    <div class="delivery-advantages__column">
                        <div class="delivery-advantages__column-icon icon icon_packages">
                        </div>
                        <div class="delivery-advantages__column-text">
                            Доставка круглый год в будни и выходные
                        </div>
                    </div>
                    <div class="delivery-advantages__column">
                        <div class="delivery-advantages__column-icon icon icon_unpack">
                        </div>
                        <div class="delivery-advantages__column-text">
                            Бесплатный осмотр товара до оплаты
                        </div>
                    </div>
                    <div class="delivery-advantages__column">
                        <div class="delivery-advantages__column-icon icon icon_ok">
                        </div>
                        <div class="delivery-advantages__column-text">
                            Если товар не подошёл, вы можете сразу вернуть его курьеру
                        </div>
                    </div>
                    <div class="delivery-advantages__column">
                        <div class="delivery-advantages__column-icon icon icon_earth-location">
                        </div>
                        <div class="delivery-advantages__column-text">
                            Доставка по всей России и СНГ
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="delivery-terms">
        <div class="delivery-terms__wrap">
            <div class="delivery-terms__content">
                <div class="delivery-terms__left">
                    <h3 class="delivery-terms__title">Сроки доставки</h3>
                    <p>
                        Все подробности по доставке вы можете уточнить
                        круглосуточно у наших специалистов любым удобным способом
                    </p>
                </div>
                <div class="delivery-terms__right">
                    <ul class="delivery-terms__list">
                        <li class="delivery-terms__list-item">
                            <p class="blue delivery-terms__label">
                                Москва и Московская область:
                            </p>
                            <p class="grey-dark">
                                на следующий день
                            </p>
                        </li>
                        <li class="delivery-terms__list-item">
                            <p class="blue delivery-terms__label">
                                Санкт-Петербург и область:
                            </p>
                            <p class="grey-dark">
                                1-2 дня
                            </p>
                        </li>
                        <li class="delivery-terms__list-item">
                            <p class="blue delivery-terms__label">
                                Другие крупные города:
                            </p>
                            <p class="grey-dark">
                                от 1 до 7 дней
                            </p>
                        </li>
                        <li class="delivery-terms__list-item">
                            <p class="blue delivery-terms__label">
                                Отдаленные населенные пункты:
                            </p>
                            <p class="grey-dark">
                                от 1 до 7 дней
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block  script_head %}
    {{ super() }}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% endblock  script_head %}

{% block script %}
    {{ super() }}
    <script src="{{ static('js/deliveryPage.js') }}"></script>
{% endblock script%}