{% extends 'base.html' %}

{% block content %}

{% with last_crumb='Доставка и оплата' %}
    {% include 'blocks/breadcrumbs.html' %}
{% endwith %}

<div class="content-area infopage">
    <div class="infopage__title">
        Доставка и оплата
    </div>
    <div class="infopage__content">
        <p>Мы доставляем заказы по всей России. Вы можете оплатить покупку как на сайте, так и при получении после осмотра товара.</p>
        <p>Наш интернет магазин доставляет заказы собственной курьерской службой, курьерскими службами СДЭК и PickPoint, а также Почтой России.</p>
        <div class="infopage__list-title">
            Расчет доставки
        </div>
        <p>Для большинства товаров, представленных у нас, ДОСТАВКА БЕСПЛАТНАЯ.</p>
        <p>Стоимость доставки указана в корзине. Рассчитывается автоматически в зависимости от региона. Включает в себя все расходы по формированию, упаковке и пересылке заказа.</p>
        <div class="infopage__list-title">
            Способы доставки
        </div>
        <ul class="infopage__list">
            <li class="infopage__list-item">
                Курьерская доставка собственной курьерской службой магазина.
            </li>
            <li class="infopage__list-item">
                Курьерская доставка службой доставки СДЭК
            </li>
            <li class="infopage__list-item">
                Доставка до пунктов выдачи СДЭК (более 800 ПВЗ по России)
            </li>
            <li class="infopage__list-item">
                Доставка до постаматов PickPoint
            </li>
            <li class="infopage__list-item">
                Почтой России
            </li>
        </ul>
        <div class="infopage__list-title">
            Способы оплаты
        </div>
        <ul class="infopage__list">
            <li class="infopage__list-item">
                Оплата наличными при получении
            </li>
            <li class="infopage__list-item">
                Оплата пластиковой картой при получении
            </li>
            <li class="infopage__list-item">
                Оплата онлайн
            </li>
            <li class="infopage__list-item">
                Оплата по счету в банке
            </li>
        </ul>
        <style>
            .assist-logo{
                width: 100%;
            }
        </style>
        <img src="/static/img/logo/logo-assist.png" class="assist-logo"></img>
        <div class="infopage__list-title">
            Безопасность и конфиденциальность платежей
        </div>
        <p>
        Вы можете оплатить любой товар в нашем магазине, используя свою банковскую карту VISA International или MasterCard Worldwide. 
        Оплата по банковским картам производится путем переадресации на сайт системы электронных платежей ASSIST (www.assist.ru). 
        Безопасность платежей в системе Assist обеспечивается использованием SSL протокола для передачи конфиденциальной информации от 
        клиента на сервер системы ASSIST для дальнейшей обработки. Наш интернет-магазин передает на сервер ASSIST только информацию о 
        платеже (идентификатор магазина, номер заказа, сумму платежа), а информацию о себе (ФИО, адрес, E-mail, телефон) и платежном средстве 
        Вы вводите на платежных страницах ASSIST. Таким образом, мы не получаем никаких персональных и банковских данных, включая информацию о 
        Ваших покупках, сделанных в других магазинах.
        </p>
        <div class="infopage__list-title">
            Порядок совершения платежа                
        </div>
        <ul class="infopage__list">   
            <li class="infopage__list-item">
            Выберите интересующий Вас товар, поместите его в корзину;
            </li>
            
            <li class="infopage__list-item">
            На втором шаге оформления заказа выберите свой регион и выберите способ оплаты «Через систему Assist», после чего Вы будете перенаправлены на сайт компании Ассист;
            </li>
            <li class="infopage__list-item">
            Введите недостающие данные в анкете платежной системы Ассист; обратите внимание, что номер, дата окончания действия карты и имя держателя должны вводиться в той же транскрипции и регистре, как они указаны на карточке;
            </li>
            
            <li class="infopage__list-item">
            Не забудьте указать трехзначный код CVV2 (CVC2) – это последние три цифры на обратной стороне Вашей карты.
            </li>
            
            <li class="infopage__list-item">
            После совершения платежа Вы увидите информацию о результатах транзакции (данных платежа, Ваших персональных данных и данных нашего магазина), затем будете перенаправлены на сайт Интернет-магазина.
            </li>  
        </ul>
                
    </div>
</div>

{% endblock content %}

{% block script %}
    {{ super() }}
    <script src="{{ static('js/index_7ad8135.js') }}"></script>
{% endblock script%}