{% extends 'base.html' %}


{% block content %}

{% with last_crumb='Возврат и обмен' %}
    {% include 'blocks/breadcrumbs.html' %}
{% endwith %}

<div class="content-area infopage">
    <div class="infopage__title">
        Возврат и обмен
    </div>
    <div class="infopage__content">
        <div class="infopage__list-title">
            Правила обмена и возврата товаров в интернет магазине ПрезидентБэгс (kubomarket.ru)
        </div>
        <ul class="infopage__list">
            <li class="infopage__list-item">
            Возврат и обмен товаров, купленных в интернет-магазине ПрезидентБэгс (kubomarket.ru), производится в соответствии с Федеральным Законом от 07 февраля 1992 года № 2300-1 «О защите прав потребителей»
            </li>
            <li class="infopage__list-item">
            Настоящие Правила распространяются на все категории товаров, размещенные на сайте kubomarket.ru
            </li>
            <li class="infopage__list-item">
            Консультации по обмену и возврату товаров Вы можете получить по телефонам +7 (495) 668-09-85, +7 (495) 984-51-50, 8 (800) 200-7456 либо по почте obmen@presidentwatches.ru
            </li>
        </ul>
        <div class="infopage__list-title">
            Возврат и обмен товаров надлежащего качества
        </div>
        <ul class="infopage__list">
            <li class="infopage__list-item">
            Покупатель может отказаться от товара в любой момент до его получения. <b>После получения товара надлежащего качества Покупатель может вернуть и обменять его в течение 30 дней с момента получения</b> при условии сохранения его товарного вида и потребительских свойств.
            </li>
            <li class="infopage__list-item">
            Обмену и возврату подлежат все товары, размещенные на сайте kubomarket.ru
            </li>
            <li class="infopage__list-item">
            Возврат и обмен товара может быть осуществлен покупателем лично по адресу: метро Тульская, Торговый центр "РоллХолл", улица Холодильный переулок, 3, Ряд 4, Бутик 79-80. Часы работы с 10 00 до 21 00
                <ul class="infopage__list">
                    <li class="infopage__list-item">
                        Покупателю необходимо иметь при себе паспорт (или иное Удостоверение личности <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_149244/8e963fb893781820c4192cdd6152f609de78a157/">http://www.consultant.ru/document/cons_doc_LAW_149244/8e963fb893781820c4192cdd6152f609de78a157/</a> );
                    </li>
                    <li class="infopage__list-item">
                        Документы, подтверждающие факт покупки (кассовый чек, товарный чек);
                    </li>
                    <li class="infopage__list-item">
                        Заявление о возврате и обмене можно заполнить заранее, <a href="http://presidentwatches.ru/images/1410/595015/AangardZayavlenienavozvrat.docx">скачав его здесь</a>, либо заполнить в офисе (бланк будет предоставлен нашим сотрудником).
                    </li>
                </ul>
            </li>
            <li class="infopage__list-item">
                Возврат товара посредством курьерских служб осуществляется по адресу компании-продавца: 115088, г. Москва, ул. Южнопортовая 5с1, ООО "Авангард-Ритейл"
                <ul class="infopage__list">
                    <li class="infopage__list-item">
                        Покупателю необходимо приложить к отправлению ксерокопию первой страницы паспорта и страницы с адресом регистрации (или ксерокопию иного Удостоверения личности <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_149244/8e963fb893781820c4192cdd6152f609de78a157/">http://www.consultant.ru/document/cons_doc_LAW_149244/8e963fb893781820c4192cdd6152f609de78a157/</a>  );
                    </li>
                    <li class="infopage__list-item">
                        Документы, подтверждающие факт покупки (кассовый чек, товарный чек);
                    </li>
                    <li class="infopage__list-item">
                        Заявление о возврате и обмене. Бланк можно <a href="http://presidentwatches.ru/images/1410/595015/AangardZayavlenienavozvrat.docx">скачать здесь</a>.
                    </li>
                    <li class="infopage__list-item">
                        Во избежание недоразумений необходимо написать трек-номер отправления на почту obmen@presidentwatches.ru с темой «Возврат/обмен заказа №...»
                    </li>
                </ul>
            </li>
            <li class="infopage__list-item">
                Обмен товара будет осуществлен сразу при наличии товара в офисе. При отсутствии товара в офисе обмен товара будет осуществлен в сроки, согласованные с Покупателем. Если Покупателя не устраивают сроки, необходимы для осуществления обмена товара, он может потребовать оформить возврат товара.
            </li>
            <li class="infopage__list-item">
                Возврат денежных средств при возврате товара надлежащего качества или обмене такого товара на товар более низкой ценовой категории осуществляется <b>не позднее чем через десять дней</b> со дня получения Продавцом возвращаемого или обмениваемого товара и <a href="http://presidentwatches.ru/images/1410/595015/AangardZayavlenienavozvrat.docx">Заявления</a>.
                <ul class="infopage__list">
                    <li class="infopage__list-item">
                        Возврат денежных средств осуществляется без учета стоимости доставки.
                    </li>
                    <li class="infopage__list-item">
                        Если клиент оплачивал покупку наличными денежными средствами, денежные средства могут быть возвращены как наличным, так и безналичным способом (по желанию клиента).
                    </li>
                    <li class="infopage__list-item">
                        Если клиент оплачивал покупку безналичным способом, возврат денежных средств может быть осуществлен только безналичным способом на реквизиты физического лица, с которых была оплачена покупка.
                    </li>
                </ul>
            </li>
        </ul>
        <div class="infopage__list-title">
            Возврат и обмен товаров ненадлежащего качества
        </div>
        <ul class="infopage__list">
            <li class="infopage__list-item">
            Покупатель, которому продан Товар ненадлежащего качества, если это не было оговорено Продавцом, вправе по своему выбору потребовать:
                <ul class="infopage__list">
                    <li class="infopage__list-item">
                        Безвозмездного устранения недостатков товара или возмещения расходов на их исправление покупателем или третьим лицом;
                    </li>
                    <li class="infopage__list-item">
                        Соразмерного уменьшения покупной цены;
                    </li>
                    <li class="infopage__list-item">
                        Замены на Товар аналогичной марки (модели, артикула) или на такой же Товар другой марки (модели, артикула) с соответствующим перерасчетом покупной цены.
                    </li>
                    <li class="infopage__list-item">
                        Вправе отказаться от исполнения договора и потребовать возврата уплаченной за Товар суммы, включая стоимость доставки.
                    </li>
                </ul>
            </li>
            <li class="infopage__list-item">
            Возврат и обмен товара может быть осуществлен покупателем лично по адресу: метро Тульская, Торговый центр "РоллХолл", улица Холодильный переулок, 3, Ряд 4, Бутик 79-80. Часы работы с 10 00 до 21 00
                <ul class="infopage__list">
                    <li class="infopage__list-item">
                        Покупателю необходимо иметь при себе паспорт (или иное Удостоверение личности <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_149244/8e963fb893781820c4192cdd6152f609de78a157/">http://www.consultant.ru/document/cons_doc_LAW_149244/8e963fb893781820c4192cdd6152f609de78a157/</a>  );
                    </li>
                    <li class="infopage__list-item">
                        Документы, подтверждающие факт покупки (кассовый чек, товарный чек);
                    </li>
                    <li class="infopage__list-item">
                        Заявление о возврате и обмене можно заполнить заранее, скачав его здесь, либо заполнить в офисе (бланк будет предоставлен нашим сотрудником).
                    </li>
                </ul>
            </li>
            <li class="infopage__list-item">
            Возврат товара посредством курьерских служб осуществляется по адресу компании-продавца: 115088, г. Москва, ул. Южнопортовая 5с1, ООО "Авангард-Ритейл"
                <ul class="infopage__list">
                    <li class="infopage__list-item">
                        Покупателю необходимо приложить к отправлению ксерокопию первой страницы паспорта и страницы с адресом регистрации (или ксерокопию иного Удостоверения личности <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_149244/8e963fb893781820c4192cdd6152f609de78a157/">http://www.consultant.ru/document/cons_doc_LAW_149244/8e963fb893781820c4192cdd6152f609de78a157/</a>  );
                    </li>
                    <li class="infopage__list-item">
                        Документы, подтверждающие факт покупки (кассовый чек, товарный чек);
                    </li>
                    <li class="infopage__list-item">
                        Заявление о возврате и обмене. Бланк можно скачать здесь.
                    </li>
                    <li class="infopage__list-item">
                        Во избежание недоразумений необходимо написать трек-номер отправления на почту obmen@presidentwatches.ru с темой «Возврат/обмен заказа №...»
                    </li>
                </ul>
            </li>
            <li class="infopage__list-item">
            При возврате Товара Продавец в случае необходимости производит проверку качества Товара. В случае спора о причинах возникновения недостатков Товара Продавец производит его экспертизу.
            </li>
            <li class="infopage__list-item">
            Срок устранения недостатков товара, определяемый в письменной форме соглашением Сторон, не может превышать сорок пять дней. Если срок устранения недостатков товара не определен в письменной форме соглашением Сторон, эти недостатки устраняются незамедлительно, то есть в минимальный срок, объективно необходимый для их устранения с учетом обычно применяемого способа.
            </li>
            <li class="infopage__list-item">
            Замена Товара ненадлежащего качества производится в течение семи дней со дня предъявления указанного требования. При необходимости дополнительной проверки качества такого Товара Продавцом в течение двадцати дней со дня предъявления указанного требования.
            </li>
            <li class="infopage__list-item">
            Возврат денежной суммы, уплаченной покупателем за Товар ненадлежащего качества, осуществляется <b>не позднее чем через десять дней со дня получения Продавцом возвращаемого товара</b>, в случае если потребовалась экспертиза - после ее проведения <b>и соответствующего <a href="http://presidentwatches.ru/images/1410/595015/AangardZayavlenienavozvrat.docx">Заявления Покупателя</a></b>.
            </li>
            <li class="infopage__list-item">
            Если Продавец не имеет возможности исполнения обязательств по поставке Товара в соответствии с Заказом полностью или частично по тем или иным причинам в разумные сроки, и Покупатель отказался от предложенных вариантов замены заказанного и оплаченного Товара, продавец гарантирует возврат денежных средств Покупателю в течение 7 дней после получения соответствующего заявления.
            </li>
        </ul>
        
    </div>
</div>

{% endblock content %}

{% block script %}
    {{ super() }}
    <script src="{{ static('js/index_7ad8135.js') }}"></script>
{% endblock script%}