{% extends 'base.html' %}


{% block content %}

{% with last_crumb='Вопросы' %}
    {% include 'blocks/breadcrumbs.html' %}
{% endwith %}

<div class="infopage infopage_faq" id="faq">
    <div class="content-area_mb">
        <h1 class="title">Вопросы</h1>
    </div>

    <div class="content-area_mb">
        <div class="infopage__content">
            <div class="accordion">

                <div class="accordion__item">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        Чем отличается наша продукция?
                    </div>
                    <div class="accordion__item-content">
                        <p>
                        Представленная нами продукция от известных мировых брендов проверена временем, надежна,
                         отличается высоким качеством. Компании, с которыми мы сотрудничаем, концентрируют свой потенциал на проектировании и изготовлении линейки продукции,
                         предусмотренной для профессионалов. Значительное внимание товаропроизводителями уделяется качеству изделий, поэтому мы, в свою очередь, гарантируем, что 
                         Вы, как потребитель, получите лучшую продукцию для спидкубинга и других увлечений.
                        </p>
                    </div>
                </div>

                <div class="accordion__item">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        Проходят ли проверку и подготовку товары перед отправлением?
                    </div>
                    <div class="accordion__item-content">
                    </div>
                </div>

                <div class="accordion__item">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        Как можно подробнее узнать о характеристиках того или иного товара?
                    </div>
                    <div class="accordion__item-content">
                    </div>
                </div>

                <div class="accordion__item">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        Какой куб лучше выбирать новичку спидкубинга?
                    </div>
                    <div class="accordion__item-content">
                    </div>
                </div>

                <div class="accordion__item">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        Кубики для профессиональной среды
                    </div>
                    <div class="accordion__item-content">
                    </div>
                </div>

                <div class="accordion__item">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        Как правильно выбрать смазку и для чего она нужна?
                    </div>
                    <div class="accordion__item-content">
                    </div>
                </div>

                <div class="accordion__item">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        Выбор таймера
                    </div>
                    <div class="accordion__item-content">
                    </div>
                </div>

                <div class="accordion__item">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        Какого размера кубик лучше?
                    </div>
                    <div class="accordion__item-content">
                    </div>
                </div>

                <div class="accordion__item">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        В чем заключается разница между кубиками разных цветов?
                    </div>
                    <div class="accordion__item-content">
                    </div>
                </div>

                <div class="accordion__item">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        В чем заключается разница между кубиком из разноцветного пластика и обычным кубом?
                    </div>
                    <div class="accordion__item-content">
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block script %}
    {{ super() }}
    <script src="{{ static('js/indexPage.js') }}"></script>
{% endblock script%}