{% extends 'base.html' %}


{% block meta_title %}Часто задаваемые вопросы | Кубомаркет.Ру{% endblock %}

{% block content %}

{% with last_crumb='Вопросы' %}
    {% include 'blocks/breadcrumbs.html' %}
{% endwith %}

<div class="infopage infopage_faq" id="faq">
    <div class="content-area_mb">
        <h1 class="title">Вопросы</h1>
    </div>

    <div class="content-area_mb">
        <div class="infopage__content">
            <div class="accordion">

                <div class="accordion__item" @click="showItemContent">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        Чем отличается наша продукция?
                    </div>
                    <div class="accordion__item-content">
                        <p>
                        Представленная нами продукция от известных мировых брендов проверена временем, надежна,
                         отличается высоким качеством. Компании, с которыми мы сотрудничаем, концентрируют свой потенциал на проектировании и изготовлении линейки продукции,
                         предусмотренной для профессионалов. Значительное внимание товаропроизводителями уделяется качеству изделий, поэтому мы, в свою очередь, гарантируем, что 
                         Вы, как потребитель, получите лучшую продукцию для спидкубинга и других увлечений.
                        </p>
                        <p>
                        Скрупулезный контроль каждого образца на предмет брака при выходе из производства,
                         тщательная предпродажная подготовка (смазка, настройка) позволяют нам заявлять, 
                         что Вы будете рады приобретению!
                        </p>
                        <p>
                        При желании Вы можете ознакомиться с оставленными на нашем сайте отзывами клиентов в соответствующей рубрике, 
                        а также на странице в нашей группе в соцсети <a href="https://vk.com/kubomarketru">«ВКонтакте»</a>.
                        </p>
                    </div>
                </div>

                <div class="accordion__item" @click="showItemContent">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        Проходят ли проверку и подготовку товары перед отправлением?
                    </div>
                    <div class="accordion__item-content">
                        <p>
                        Все изделия перед продажей обязательно проходят проверку на выявление дефектов, смазываются профессиональной 
                        смазкой Maru 10ml с целью увеличения скорости сборки (спидкубинга), настраиваются специалистами.
                        </p>
                        <p>
                        Для безопасной транспортировки (почтой России либо курьерской доставкой «СДЭК») головоломка 
                        предварительно упаковывается в надежный защитный материал с тем, чтобы клиент получил заказ в 
                        неповрежденном виде.
                        </p>
                        <p>
                        Мы гарантируем, что Вы останетесь довольны уровнем сервиса и сотрудничества!
                        </p>
                    </div>
                </div>

                <div class="accordion__item" @click="showItemContent">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        Как можно подробнее узнать о характеристиках того или иного товара?
                    </div>
                    <div class="accordion__item-content">
                        <p>
                        Подробное описание каждого товара размещается на его персональной информационной странице (справа от фотографий). 
                        Кроме того, в нашей группе <a href="https://vk.com/kubomarketru">«ВКонтакте»</a>
                         регулярно проводятся различные обсуждения, дискуссии, даются экспертные 
                        пояснения относительно того, на какой товар стоит обратить внимание в том или ином случае.
                        </p>
                        <p>
                        Также, на нашем канале в YouTube постоянно выкладываем подробные видеообзоры самых различных, 
                        востребованных головоломок от TOP-овых куберов. Заходите на наш канал! 
                        Приятного и познавательного Вам просмотра!
                        </p>
                    </div>
                </div>

                <div class="accordion__item" @click="showItemContent">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        Какой куб лучше выбирать новичку спидкубинга?
                    </div>
                    <div class="accordion__item-content">
                        <p>
                        Если Вы в числе тех, кто только делает первые шаги в  спидкубинге, необходимо, в первую очередь, обзавестись
                        качественным скоростным кубик для новичка. Предлагаем три варианта:
                        </p>
                        <ul>
                            <li>
                                <a href="/product/moyu-3x3-guanlong277/">
                                    MoYu GuanLong (3x3x3)
                                </a>
                                <p>
                                Данный кубик, несмотря на свою бюджетную стоимость, изготовлен из надежного пластика, 
                                поставляется с предприятия с качественно выполненными стикерами. По параметру «вращение» 
                                этот куб запросто конкурирует с ТОП-овыми кубиками (выдает на практике минимальное количество 
                                заеданий, при грамотной настройке не разлетается). По мнению многих куберов MoYu GuanLongотносится
                                 к лучшим кубикам Рубика для начинающих среди основных кубов, представленных в сегменте.
                                </p>
                            </li>
                            <li>
                                <a href="/product/cyclone-boys-3x3-feiwu230/">
                                    Cyclone Boys FeiWu (3x3x3)
                                </a>
                                <p>
                                Данный куб выполнен из яркого пластика, имеет приятные глазу цвета. 
                                Отсутствие наклеек дает возможность кубику сохранить привлекательный внешний 
                                вид и по истечении значительного периода эксплуатации. Благодаря этому кубики
                                 Cyclone Boys FeiWu часто покупают маленьких детям, которые по неосторожности 
                                могут испортить наклейки. Описываемый куб обладает отличными скоростными 
                                характеристиками (имеет быстрое кручение, выдающуюся резку углов), 
                                во время неаккуратной сборки отсутствует вылет элементов.
                                </p>
                            </li>
                            <li>
                                <a href="/product/mofangge-3x3-thunderclap1026/">
                                    QiYi MoFangGe Thunderclap (3x3x3)
                                </a>
                                <p>
                                Отличный вариант для новичка спидкубинга. Куб славится настолько хорошим и плавным вращением, 
                                что многие даже продвинутые куберы применяют его в качестве основного, тренировочного.
                                 В комплекте к кубику предусмотрен мешочек для его переноски и хранения.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="accordion__item" @click="showItemContent">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        Кубики для профессиональной среды
                    </div>
                    <div class="accordion__item-content">
                        <p>
                        Когда кубер добился определенного уровня мастерства, успеха на поприще 
                        спидкубинга и хочет иметь куб получше, попродвинутее, необходимо прежде всего, 
                        разобраться в многообразии предложений по кубикам и лишь потом выбрать 
                        достойнейший вариант. Этот раздел ориентирован на профессионалов и тех 
                        начинающих спидкубинга, которые желают оттачивать мастерство,
                         приобретать навыки сразу с профессиональных скоростных кубов.
                        </p>
                        <ul>
                            <li>
                                <a href="/product/moyu-3x3-weilong-gts559/">
                                MoYu WeiLong GTS 2 (3x3x3)
                                </a>
                                <p>
                                Топовый куб от бренда «MoYu» обладает безупречным строением, превосходной плавностью, 
                                кручением. Все вместе взятое позволяет добиваться рекордов мирового масштаба.
                                </p>
                            </li>
                            <li>
                                <a href="/product/gan-356-air-master696/">
                                Gan3-56 Air (3x3x3)
                                </a>
                                <p>
                                Флагманский куб выпускается известной компанией «Gans Puzzles». 
                                Прямо из коробки кубик готов к выполнению рекордов мирового уровня. 
                                Наличие сменных гаек дает возможность подобрать оптимальное для каждого вращение.
                                </p>
                            </li>
                            <li>
                                <a href="/product/mofangge-3x3-valk-3706/">
                                QiYi MoFangGe Valk (3x3x3)
                                </a>
                                <p>
                                Кубик, спроектированный под руководством одного из лучших спидкуберов мира (Матс Фальк),
                                 завоевал признание среди многих куберов планеты разного уровня мастерства.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="accordion__item" @click="showItemContent">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        Как правильно выбрать смазку и для чего она нужна?
                    </div>
                    <div class="accordion__item-content">
                        <p>
                        С тем чтобы куб с легкостью вращался и позволял добиваться новых рекордов, 
                        ему нужно периодически производить смазку специализированными 
                        профессиональными средствами.
                        </p>
                        <p>
                        Maru – это самая востребованная смазка.
                        </p>
                        <p>
                        Существует два вида данной смазки (белая и синяя), имеющие названия по цвету упаковки. 
                        </p>
                        <ul>
                            <li>
                                <a href="/product/smazka-maru-belaia-10-ml85/">
                                Белая Maru
                                </a>
                                <p>
                                Жидкой консистенции смазка. После обработки она придает кубу скорость, 
                                но в условиях интенсивной сборки имеет свойства быстро высыхать. 
                                Смазывать ее куб очень легко. Достаточно залить 3-4 капли внутрь кубика и
                                 распределить содержимое, покрутив грани куба.
                                </p>
                            </li>
                            <li>
                                <a href="/product/smazka-maru-siniaia-10ml828/">
                                Синяя Maru
                                </a>
                                <p>
                                Густая смазка, позволяющая придать ускорение кубу без потери характеристик в контроле.
                                 Делает ход куба мягким и плавным. Для более эффективного результата специалисты
                                рекомендуют использовать синюю смазку Maru с белой.
                                </p>
                            </li>
                            <p>
                            Для смазывания необходимо разобрать куб, и 
                            равномерно нанести средство на контактирующие поверхности.
                            </p>
                        </ul>
                    </div>
                </div>

                <div class="accordion__item" @click="showItemContent">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        Выбор таймера
                    </div>
                    <div class="accordion__item-content">
                        <p>
                        На рынке предлагаются различные таймеры на компьютер и мобильный телефон, 
                        но они не относятся к специализированным таймерам для спидкубинга. 
                        Для этой цели подойдут такие таймеры, как:
                        </p>
                        <ul>
                            <li>
                                <a href="/product/stackmat-pro-mat-g4-gray684/">
                                Таймер Staсkmat
                                </a>
                                <p>
                                Специализированный таймер американского бренда, повсеместно используемый на 
                                WCA-соревнованиях по спидкубингу. Характеризуется точностью отображения 
                                времени (до тысячной секунды) и высоким качеством сборки 
                                (благодаря этому данный таймер более востребован среди конкурентов).
                                </p>
                            </li>
                            <li>
                                <a href="/product/taimer-yuxin-v2833/">
                                Таймер Yuxin
                                </a>
                                <p>
                                Недорогой аналог таймера Stackmat (производство КНР).
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="accordion__item" @click="showItemContent">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        Какого размера кубик лучше?
                    </div>
                    <div class="accordion__item-content">
                        <p>
                        Вы, наверно, знаете, что существуют кубики нестандартного размера 
                        (42 мм, 50 мм, 55 мм). Стандартным считается размер оригинального 
                        кубика «Рубика» венгерского производства с размерами ребра 57 мм.
                        </p>
                        <p>
                        Производители выпускают кубики разных размеров для коллекций, 
                        в том числе с тем, чтобы носить их в кармане одежды и 
                        иметь возможность собирать куб в любой момент времени. Но главное при выборе
                         кубика правильно подобрать размер, который будет 
                         лучшим образом подходить Вам при сборке.
                        </p>
                        <p>
                        Резонны вопросы: почему Вы применяете кубик с размером ребра 55 мм? 
                        Ведь разница всего 2 мм, она не чувствительна?
                        </p>
                        <p>
                        На практике же эта, казалось бы, незначительная разница в пару 
                        миллиметров очень даже ощутима. Людям, имеющим небольшие кисти рук 
                        или тем, кто любит собирать куб и вовсе одной рукой, будет 
                        комфортно и проще вращать уменьшенную модель кубика.
                        </p>
                    </div>
                </div>

                <div class="accordion__item" @click="showItemContent">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        В чем заключается разница между кубиками разных цветов?
                    </div>
                    <div class="accordion__item-content">
                        <p>
                        Лишь в используемом производителями красителе заключается разница между кубиками 
                        различных цветов. Это же касается разницы между применяемыми колорами 
                        (куб, выполненный из цветного пластика) и обычными кубиками. 
                        Она не велика, ее нельзя особо ощутить, 
                        так что можно выбирать цвет, отталкиваясь от вкусовых предпочтений.
                        </p>
                    </div>
                </div>

                <div class="accordion__item" @click="showItemContent">
                    <div class="accordion__item-title">
                        <i class="icon accordion__item-icon"></i>
                        В чем заключается разница между кубиком из разноцветного пластика и обычным кубом?
                    </div>
                    <div class="accordion__item-content">
                        <p>
                        Кубы по строению одинаковые, разницы во вращении и резке углов нет. 
                        Куб, выполненный из цветного пластика, выглядит гораздо лучше, 
                        послужит дольше в отличие от обычного кубика со стикерами 
                        (за счет качественного пластика). 
                        Стикеры менее долговечны, при эксплуатации имеют свойство стираться.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block script %}
    {{ super() }}
    <script src="{{ static('js/faqPage.js') }}"></script>
{% endblock script%}