{% extends 'base.html' %}


{% block content %}

{% with last_crumb='Гарантии' %}
    {% include 'blocks/breadcrumbs.html' %}
{% endwith %}

<div class="content-area infopage">
    <div class="infopage__title">
        Гарантии
    </div>
    <div class="infopage__content">
        <div class="infopage__list-title">
            Простота и прозрачность обмена и возврата товара
        </div>
        <p>Вы можете обменять или вернуть товар, купленный в нашем магазине в течение 30 дней, а не 7, как того требует 26.1 ФЗ «О защите прав потребителей». <span class="infopage__highlight">Вернуть товар можно из любого региона России.</span></p>
        <div class="infopage__list-title">
            Чтобы вернуть товар необходимо
        </div>
        <ul class="infopage__list">
            <li class="infopage__list-item">
            1. Товар должен иметь товарный вид (не срезаны бирки, не подвергался эксплуатации)
            </li>
            <li class="infopage__list-item">
            2. Предоставить документы, которые шли в комплекте с товаром – кассовый чек, товарный чек, гарантийный талон.
            </li>
            <li class="infopage__list-item">
            3. Заполнить заявление о возврате денежных средств, в свободной форме, с указанием реквизитов банковской карты, на которую нужно вернуть деньги.
            </li>
        </ul>
        <p>Чтобы обменять товар необходимо:</p>
        <div class="infopage__list-title">
            1. При обмене товара на более дорогой
        </div>
        <ul class="infopage__list">
            <li class="infopage__list-item">
            1. Товар должен иметь товарный вид (не срезаны бирки, не подвергался эксплуатации)
            </li>
            <li class="infopage__list-item">
            2. Предоставить документы, которые шли в комплекте с товаром – кассовый чек, товарный чек, гарантийный талон.
            </li>
            <li class="infopage__list-item">
            3. Доплатить разницу между ценами покупок.
            </li>
        </ul>
        <div class="infopage__list-title">
            2. При обмене товара на более дорогой
        </div>
        <ul class="infopage__list">
            <li class="infopage__list-item">
            1. Товар должен иметь товарный вид (не срезаны бирки, не подвергался эксплуатации)
            </li>
            <li class="infopage__list-item">
            2. Предоставить документы, которые шли в комплекте с товаром – кассовый чек, товарный чек, гарантийный талон.
            </li>
            <li class="infopage__list-item">
            3. Предъявить паспорт, а в случае возврата по почте или курьерской службой, необходимо приложить ксерокопию первой и второй страниц паспорта
            </li>
            <li class="infopage__list-item">
            4. Заполнить заявление о возврате разницы стоимости товаров, в свободной форме, с указанием реквизитов банковской карты, на которую нужно вернуть деньги. 
            </li>
        </ul>
        <h3 class="infopage__list-title">
            Мы гарантируем, что товар дойдёт в целости и сохранности
        </h3>
        <p>Будьте уверены, что с Вашей покупкой в пути ничего не произойдёт, мы очень надёжно упаковываем каждый заказ в воздушно-пузырчатую плёнку прежде чем запаковать товар в сейф-пакет или коробку.</p>
        <h3 class="infopage__list-title">
            Покупая товар у нас, вы получаете полный комплект документов к покупке
        </h3>
        <p><span class="infopage__highlight">Забирая покупку из нашего офиса или магазина, а так же при доставке нашим курьером</span>, Вы получите полный комплект документов к покупке, в том числе кассовый и товарный чек, при оплате картой вы получите 2 кассовых чека – один печатается кассовым аппаратом, второй электронным терминалом (терминалом эквайринга)</p>
        <p><span class="infopage__highlight">При заказе доставки курьерской службой СДЭК,</span> товарный чек будет находиться внутри сейф-пакета, вы сможете вскрыть пакет при курьере и убедиться в его наличии, кассовый чек вам пробьёт курьер, непосредственно, при оплате заказа</p>
        <p><span class="infopage__highlight">При получении заказов в пунктах выдачи или постаматах</span> кассовый чек пробьёт работник пункта выдачи либо выдаст постамат после оплаты товара.</p>
        <p><span class="infopage__highlight">При заказе Почтой России, </span> вы не сможете вскрыть посылку до оплаты наложенного платежа, кассовый чек выдаст вам работник почтового отделения.</p>
        <div class="infopage__list-title">
            Отказ от товара
        </div>
        <p>Вы можете в любой момент отказаться от покупки товара без объяснения причин, независимо от способа доставки.</p>
        <div class="infopage__list-title">
            Предоплата
        </div>
        <p>Мы используем ведущего оператора электронных платежей в России - систему ASSIST, которая существует с 1998 года и первой стала провайдером платежей по картам <span class="infopage__highlight">VISA</span> и <span class="infopage__highlight">MasterCard</span></p>
    </div>
</div>

{% endblock content %}

{% block script %}
    {{ super() }}
    <script src="{{ static('js/index_7ad8135.js') }}"></script>
{% endblock script%}