{% extends 'base.html' %}


{% block meta_title %}Условия возврата | Kubomarket.Ru{% endblock %}

{% block open_graph %}
<meta property="og:type"             content="website"/>
<meta property="vk:title"            content="Условия возврата | Kubomarket.Ru"/>
<meta property="og:site_name"        content="Интернет-магазин KUBOMARKET"/>
<meta property="og:title"            content="Условия возврата | Kubomarket.Ru"/>
<meta property="og:description"      content="У нас вы можете купить кубик Рубика от 350 рублей. Оплата при получении. Доставка по всей России - от 1 до 7 дней."/>
<meta property="og:locale "          content="ru_RU"/>
<meta property="og:url" content="https://www.kubomarket.ru" />
{% endblock open_graph %}

{% block content %}

{% with last_crumb='Возрат' %}
    {% include 'blocks/breadcrumbs.html' %}
{% endwith %}

<div class="content-area_mb infopage infopage_text">
    <div class="infopage__content">
        <div class="infopage__block">
            <h1 class="title title_catalog">
            Возрат
            </h1>
            <h3 class="subtitle bold">
            Условия возврата
            </h3>
            <p>
            После покупки у вас есть 30 дней на то, чтобы убедиться, что 
            Вы полностью довольны заказанным товаром. Если по каким-либо 
            причинам Вы решили, что данный товар Вам не подходит, вернуть его очень просто!
            </p>
            <p>
            Для этого необходимо:
            </p>
            <ul class="infopage__list">
                <li>
                    Заполнить бланк возврата. Скачать бланк возврата можно по ссылке
                </li>
                <li>
                    В коробку с возвращаемым товаром положите копию паспорта 
                    (или другого документа, удостоверяющего личность), 
                    копию чека об оплате и бланк возврата.
                </li>
                <li>
                    Отправьте вашу посылку к нам обратно.
                </li>
            </ul>
        </div>
        <div class="infopage__block">
            <h3 class="subtitle bold">
                Вы можете выбрать один из следующих способов возврата заказанных товаров:
            </h3>
            <ul class="infopage__list">
                <li>
                    Вернуть товар через службу доставки на адрес: 115088 г. Москва ул. Южнопортовая 5с1 офис 420
                </li>
                <li>
                    Вернуть товар через курьерскую службу СДЭК на адрес: 115088 г. Москва ул. Южнопортовая 5с1 офис 420.
                </li>
                <li>
                    Отправить посылку самостоятельно, воспользовавшись услугами Почты России, указав адрес получателя 
                </li>
            </ul>
            <p>
                В заявлении на возврат укажите любой из доступных способов возврата денежных средств:
            </p>
            <ul class="infopage__list">
                <li>
                На ваш банковский счет (при оплате наличными)
                </li>
                <li>
                На банковскую карту (при оплате картой на сайте)
                </li>
            </ul>
            <p>
                Если заявление на возврат будет заполнено правильно, мы вернём ваши 
                денежные средства в течение 10 календарных дней после получения возвращаемого 
                товара. Если информации в заявлении будет недостаточно, мы свяжемся с вами 
                для уточнения данных, чтобы вернуть денежные средства как можно быстрее.
            </p>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
    {{ super() }}
    <script src="{{ static('js/indexPage.js') }}">
    </script>
{% endblock script%}